## Data Cleaning

In [374]:
!pip install pandas
!pip install pandasql
!pip install pandas openpyxl

Requirement already satisfied: pandas in e:\python\lib\site-packages (2.3.2)
Requirement already satisfied: numpy>=1.26.0 in e:\python\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\python\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in e:\python\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in e:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: pandasql in e:\python\lib\site-packages (0.7.3)
Requirement already satisfied: numpy in e:\python\lib\site-packages (from pandasql) (2.3.2)
Requirement already satisfied: pandas in e:\python\lib\site-packages (from pandasql) (2.3.2)
Requirement already satisfied: sqlalchemy in e:\python\lib\site-packages (from pandasql) (2.0.43)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\python\lib\site-packages (from pandas->pandasql) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\python\lib\site-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in e:\python\lib\site-packages (from pandas->pandasql) (2025.2)
Requirement already satisfied: six>=1.5 in e:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.17.0)
Requirement already satisfied: greenlet>=1 in e:\python\lib\site-packages (from sqlalchemy->pandasql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in e:\python\lib\site-packages (from sqlalchemy->pandasql) (4.15.0)
Requirement already satisfied: pandas in e:\python\lib\site-packages (2.3.2)
Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: numpy>=1.26.0 in e:\python\lib\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in e:\python\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in e:\python\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in e:\python\lib\site-packages (from pandas) (2025.2)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: six>=1.5 in e:\python\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl

   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   -------------------- ------------------- 1/2 [openpyxl]
   ---------------------------------------- 2/2 [openpyxl]

Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [375]:
import pandas as pd
import pandasql as ps

In [118]:
cities = ["Vancouver", "Victoria", "Kelowna", "Abbotsford", "Surrey", "Nanaimo", "Burnaby", "Kamloops",
          "Calgary", "Edmonton", "Lethbridge", "Red Deer", "Fort McMurray",
          "Saskatoon", "Regina", "Prince Albert",
          "Winnipeg", "Brandon", "Thompson",
          "Toronto", "Mississauga", "Ottawa", "Hamilton", "London", "Kitchener", "Waterloo",
          "Kingston", "Thunder Bay", "St. Catharines",
          "Montreal", "Quebec City", "Laval", "Gatineau", "Trois-Rivières", "Sherbrooke",
          "Halifax", "Sydney", "Fredericton", "Moncton", "Saint John",
          "Charlottetown", "St. John's", "Corner Brook", "Gander",
          "Yellowknife", "Whitehorse", "Iqaluit", "Belleville", "Red Lake", "Sarnia",
          "Prince George", "Brooks", "Steinbach", "Barrie", "Longueuil", "Labrador City"]

In [15]:
city_to_province = {
    "Vancouver": "BC", "Victoria": "BC", "Kelowna": "BC", "Abbotsford": "BC", "Surrey": "BC", "Nanaimo": "BC", "Burnaby": "BC", "Kamloops": "BC",
    "Prince George": "BC",
    "Calgary": "AB", "Edmonton": "AB", "Lethbridge": "AB", "Red Deer": "AB", "Fort McMurray": "AB",
    "Brooks": "AB",
    "Saskatoon": "SK", "Regina": "SK", "Prince Albert": "SK",
    "Winnipeg": "MB", "Brandon": "MB", "Thompson": "MB", "Steinbach": "MB",
    "Toronto": "ON", "Mississauga": "ON", "Ottawa": "ON", "Hamilton": "ON", "London": "ON", "Kitchener": "ON", "Waterloo": "ON",
    "Kingston": "ON", "Thunder Bay": "ON", "St. Catharines": "ON", "Belleville": "ON", "Red Lake": "ON", "Sarnia": "ON", "Barrie": "ON",
    "Montreal": "QC", "Quebec City": "QC", "Laval": "QC", "Gatineau": "QC", "Trois-Rivières": "QC", "Sherbrooke": "QC", "Longueuil": "QC",
    "Halifax": "NS", "Sydney": "NS",
    "Fredericton": "NB", "Moncton": "NB", "Saint John": "NB",
    "Charlottetown": "PE",
    "St. John's": "NL", "Corner Brook": "NL", "Gander": "NL", "Labrador City": "NL",
    "Yellowknife": "NWT",
    "Whitehorse": "YT",
    "Iqaluit": "NU"
}

56

In [17]:
# # Test if all cities have a province
# count = 0
# for city in cities:
#     if city not in city_to_province:
#         print(f"No province found for: {city}")
#     else:
#         count = count+1
# print(count)

In [22]:
import numpy as np
province_list = []
for city in cities:
    if city in city_to_province:
        province_list.append(city_to_province[city])
    else:
        province_list.append(np.nan)
#province_list

In [41]:
master_table = pd.DataFrame({
    "City": cities,
    "Province/Territory": province_list,
    "Population": np.nan,
    "Land_Area": np.nan,
    "Population_Density": np.nan,
    "House_Price": np.nan,
    "Rent_Price": np.nan,
    "Crime_Severity_Index": np.nan,
    "Unemployment_Rate": np.nan,
    "Average_Income": np.nan,
    "Winter_Avg_Temp": np.nan,
    "Summer_Avg_Temp": np.nan,
    "Annual_Avg_Temp": np.nan,
    "Cost_of_Living_Index": np.nan,
    "Local_Purchasing_Power": np.nan
})

In [43]:
master_table.head()

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
0,Vancouver,BC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Victoria,BC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kelowna,BC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Abbotsford,BC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Surrey,BC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
master_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    56 non-null     object
 1   Province/Territory      56 non-null     object
 2   Population              0 non-null      float64
 3   Land_Area               0 non-null      float64
 4   Population_Density      0 non-null      float64
 5   House_Price             0 non-null      float64
 6   Rent_Price              0 non-null      float64
 7   Crime_Severity_Index    0 non-null      float64
 8   Unemployment_Rate       0 non-null      float64
 9   Average_Income          0 non-null      float64
 10  Winter_Avg_Temp         0 non-null      float64
 11  Summer_Avg_Temp         0 non-null      float64
 12  Annual_Avg_Temp         0 non-null      float64
 13  Cost_of_Living_Index    0 non-null      float64
 14  Local_Purchasing_Power  0 non-null      float64
dtypes: float64(13), object(2)
memory usage: 6.7+ KB

## Population

In [109]:
population_df = pd.read_csv("data/population.csv", skiprows=10)

In [110]:
print(population_df.columns)
population_df.head(20)

Index(['Geography', '2024'], dtype='object')

                                            Geography        2024
0                                                 NaN     Persons
1                                              Canada  41,288,599
2   All census metropolitan areas and census agglo...  34,958,433
3               All census metropolitan areas, Canada  30,893,239
4         St. John's (CMA), Newfoundland and Labrador     239,316
5                          Halifax (CMA), Nova Scotia     530,167
6                        Moncton (CMA), New Brunswick     188,036
7                     Saint John (CMA), New Brunswick     142,433
8                    Fredericton (CMA), New Brunswick     122,500
9                              Saguenay (CMA), Quebec     170,380
10                               Québec (CMA), Quebec     900,343
11                           Sherbrooke (CMA), Quebec     243,517
12                       Trois-Rivières (CMA), Quebec     173,288
13                        Drummondville (CMA), Quebec     108,291
14                             Montréal (CMA), Quebec   4,615,154
15            Ottawa - Gatineau (CMA), Ontario/Quebec   1,660,269
16     Ottawa - Gatineau (CMA), Ontario part, Ontario   1,287,592
17       Ottawa - Gatineau (CMA), Quebec part, Quebec     372,677
18                            Kingston (CMA), Ontario     192,389
19            Belleville - Quinte West (CMA), Ontario     123,572

In [111]:
population_df.shape[0]

223

In [112]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Geography  222 non-null    object
 1   2024       220 non-null    object
dtypes: object(2)
memory usage: 3.6+ KB

In [113]:
population_df.rename(columns={'Geography': 'City', '2024': 'Population'}, inplace=True)

In [150]:
population_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   City          222 non-null    object
 1   Population    220 non-null    object
 2   Cleaned_City  222 non-null    object
dtypes: object(3)
memory usage: 5.4+ KB

In [156]:
query = """
SELECT *
FROM population_df
"""
result = ps.sqldf(query, locals())
result

,City,Population,Cleaned_City
0,None,Persons,None
1,Canada,"41,288,599",Canada
2,All census metropolitan areas and census agglo...,"34,958,433",All census metropolitan areas and census agglo...
3,"All census metropolitan areas, Canada","30,893,239",All census metropolitan areas
4,"St. John's (CMA), Newfoundland and Labrador","239,316",St. John's
...,...,...,...
218,6,"The population growth, which is used to calcul...",6
219,7,This table replaces table 17100135.,7
220,8,Age on July 1.,8
221,How to cite: Statistics Canada. Table 17-10-01...,None,How to cite: Statistics Canada. Table 17-10-01...
222,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,None,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...

In [240]:
escaped_cities = [Cleaned_City.replace("'", "''") for Cleaned_City in cities]
like_conditions = " OR ".join([f"Cleaned_City LIKE '%{Cleaned_City}%'" for Cleaned_City in escaped_cities])
query = f"""
Select * from population_df where {like_conditions}
"""
result = ps.sqldf(query, locals())
result

                                            City Population    Cleaned_City
0    St. John's (CMA), Newfoundland and Labrador     239316      St. John's
1                     Halifax (CMA), Nova Scotia     530167         Halifax
2                   Moncton (CMA), New Brunswick     188036         Moncton
3                Saint John (CMA), New Brunswick     142433      Saint John
4               Fredericton (CMA), New Brunswick     122500     Fredericton
5                       Sherbrooke (CMA), Quebec     243517      Sherbrooke
6                   Trois-Rivières (CMA), Quebec     173288  Trois-Rivières
7        Ottawa - Gatineau (CMA), Ontario/Quebec    1660269        Gatineau
8                        Kingston (CMA), Ontario     192389        Kingston
9                         Toronto (CMA), Ontario    7106379         Toronto
10                       Hamilton (CMA), Ontario     860266        Hamilton
11                         London (CMA), Ontario     626260          London
12                         Barrie (CMA), Ontario     245586          Barrie
13                    Thunder Bay (CMA), Ontario     133063     Thunder Bay
14                      Winnipeg (CMA), Manitoba     941641        Winnipeg
15                    Regina (CMA), Saskatchewan     282032          Regina
16                 Saskatoon (CMA), Saskatchewan     367336       Saskatoon
17                     Lethbridge (CMA), Alberta     139844      Lethbridge
18                        Calgary (CMA), Alberta    1778881         Calgary
19                       Red Deer (CMA), Alberta     112759        Red Deer
20                       Edmonton (CMA), Alberta    1631614        Edmonton
21               Kelowna (CMA), British Columbia     251756         Kelowna
22              Kamloops (CMA), British Columbia     128233        Kamloops
23  Abbotsford - Mission (CMA), British Columbia    173,874      Abbotsford
24             Vancouver (CMA), British Columbia    3108941       Vancouver
25              Victoria (CMA), British Columbia     441491        Victoria
26               Nanaimo (CMA), British Columbia     128371         Nanaimo
27        Gander (CA), Newfoundland and Labrador      14296          Gander
28  Corner Brook (CA), Newfoundland and Labrador      31204    Corner Brook
29      Charlottetown (CA), Prince Edward Island      93877   Charlottetown
30                    Victoriaville (CA), Quebec      54988   Victoriaville
31                          Sarnia (CA), Ontario     108636          Sarnia
32                      Steinbach (CA), Manitoba      19926       Steinbach
33                        Brandon (CA), Manitoba      61863         Brandon
34                       Thompson (CA), Manitoba      13159        Thompson
35              Prince Albert (CA), Saskatchewan      47929   Prince Albert
36                          Brooks (CA), Alberta      16416          Brooks
37          Prince George (CA), British Columbia      98808   Prince George
38                        Whitehorse (CA), Yukon      38000      Whitehorse
39       Yellowknife (CA), Northwest Territories      22735     Yellowknife
40                                          None     378867       Kitchener
41                                          None     155550        Waterloo

In [227]:
population_df['Cleaned_City'] = population_df['City'].str.split(r' \(|,').str[0]
population_df['Cleaned_City']
population_df[20:30]

                              City Population     Cleaned_City
20         Hamilton (CMA), Ontario     860266         Hamilton
21        Brantford (CMA), Ontario     173530        Brantford
22           Guelph (CMA), Ontario     183224           Guelph
23           London (CMA), Ontario     626260           London
24          Windsor (CMA), Ontario     483556          Windsor
25           Barrie (CMA), Ontario     245586           Barrie
26  Greater Sudbury (CMA), Ontario     191902  Greater Sudbury
27      Thunder Bay (CMA), Ontario     133063      Thunder Bay
28        Winnipeg (CMA), Manitoba     941641         Winnipeg
29      Regina (CMA), Saskatchewan     282032           Regina

In [175]:
query = f"""
select * from population_df where cleaned_city= 'Ottawa - Gatineau' and population = '1,287,592' or population = '372,677'
"""
result = ps.sqldf(query, locals())
result

Empty DataFrame
Columns: [City, Population, Cleaned_City]
Index: []

In [201]:
population_df = population_df[~(
    (population_df['Cleaned_City'].isin(['Ottawa - Gatineau', 'Belleville - Quinte West', 'St. Catharines - Niagara', 'Kitchener - Cambridge - Waterloo'])) &
    (population_df['Population'].isin(['1,287,592', '372,677', '123,572', '492,480', '696,417']))
)]

In [237]:
population_df.loc[
    population_df['Cleaned_City'] == 'Abbotsford - Mission', 'Population'
] = '173,874'

In [238]:
population_df.loc[
    population_df['Cleaned_City'] == 'Abbotsford - Mission', 'Cleaned_City'
] = 'Abbotsford'

In [239]:
population_df.loc[
    population_df['Cleaned_City'] == 'Ottawa - Gatineau', 'Cleaned_City'
] = 'Gatineau'

In [228]:
new_rows = pd.DataFrame({
    'Population': ['378,867', '155,550'],
    'Cleaned_City': ['Kitchener', 'Waterloo']
})

population_df = pd.concat([population_df, new_rows], ignore_index=True)

In [231]:
population_df['Population'] = population_df['Population'].str.replace(',', '')

In [233]:
city_to_population = dict(zip(population_df['Cleaned_City'], population_df['Population']))

master_table['Population'] = master_table['City'].map(city_to_population)

In [234]:
master_table = master_table.drop(columns=['Cleaned_City'])

KeyError: "['Cleaned_City'] not found in axis"

In [258]:
cols = master_table.columns.tolist()
cols.insert(cols.index('Province/Territory') + 1, cols.pop(cols.index('Population')))
master_table = master_table[cols]

In [255]:
master_table[master_table['Population'].notna()]

,City,Province/Territory,Land_Area,Population,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
0,Vancouver,BC,NaN,3108941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Victoria,BC,NaN,441491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kelowna,BC,NaN,251756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Nanaimo,BC,NaN,128371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Kamloops,BC,NaN,128233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Calgary,AB,NaN,1778881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Edmonton,AB,NaN,1631614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Lethbridge,AB,NaN,139844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Red Deer,AB,NaN,112759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Saskatoon,SK,NaN,367336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Regina,SK,NaN,282032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Prince Albert,SK,NaN,47929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Winnipeg,MB,NaN,941641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Brandon,MB,NaN,61863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Thompson,MB,NaN,13159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Toronto,ON,NaN,7106379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Hamilton,ON,NaN,860266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,London,ON,NaN,626260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Kitchener,ON,NaN,378867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Waterloo,ON,NaN,155550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Kingston,ON,NaN,192389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Thunder Bay,ON,NaN,133063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Trois-Rivières,QC,NaN,173288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sherbrooke,QC,NaN,243517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Halifax,NS,NaN,530167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Fredericton,NB,NaN,122500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Moncton,NB,NaN,188036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Saint John,NB,NaN,142433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Charlottetown,PE,NaN,93877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,St. John's,NL,NaN,239316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Corner Brook,NL,NaN,31204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Gander,NL,NaN,14296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Yellowknife,NWT,NaN,22735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Whitehorse,YT,NaN,38000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,Sarnia,ON,NaN,108636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Prince George,BC,NaN,98808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,Brooks,AB,NaN,16416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,Steinbach,MB,NaN,19926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Barrie,ON,NaN,245586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [245]:
master_table = master_table.dropna(subset=['Population'])

In [324]:
master_table = master_table.reset_index(drop=True)

In [325]:
master_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    39 non-null     object
 1   Province/Territory      39 non-null     object
 2   Population              39 non-null     int64
 3   Land_Area               0 non-null      float64
 4   Population_Density      0 non-null      float64
 5   House_Price             0 non-null      float64
 6   Rent_Price              0 non-null      float64
 7   Crime_Severity_Index    0 non-null      float64
 8   Unemployment_Rate       0 non-null      float64
 9   Average_Income          0 non-null      float64
 10  Winter_Avg_Temp         0 non-null      float64
 11  Summer_Avg_Temp         0 non-null      float64
 12  Annual_Avg_Temp         0 non-null      float64
 13  Cost_of_Living_Index    0 non-null      float64
 14  Local_Purchasing_Power  0 non-null      float64
dtypes: float64(12), int64(1), object(2)
memory usage: 4.7+ KB

In [326]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
0,Vancouver,BC,3108941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Victoria,BC,441491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kelowna,BC,251756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Edmonton,AB,1631614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Lethbridge,AB,139844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Regina,SK,282032,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Prince Albert,SK,47929,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Brandon,MB,61863,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hamilton,ON,860266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,London,ON,626260,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kitchener,ON,378867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Waterloo,ON,155550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Thunder Bay,ON,133063,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Fredericton,NB,122500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Moncton,NB,188036,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Saint John,NB,142433,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Charlottetown,PE,93877,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [250]:
master_table.loc[:, 'Population'] = master_table['Population'].astype(int)

In [252]:
master_table.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39 entries, 0 to 53
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    39 non-null     object
 1   Population              39 non-null     int64
 2   Province/Territory      39 non-null     object
 3   Land_Area               0 non-null      float64
 4   Population_Density      0 non-null      float64
 5   House_Price             0 non-null      float64
 6   Rent_Price              0 non-null      float64
 7   Crime_Severity_Index    0 non-null      float64
 8   Unemployment_Rate       0 non-null      float64
 9   Average_Income          0 non-null      float64
 10  Winter_Avg_Temp         0 non-null      float64
 11  Summer_Avg_Temp         0 non-null      float64
 12  Annual_Avg_Temp         0 non-null      float64
 13  Cost_of_Living_Index    0 non-null      float64
 14  Local_Purchasing_Power  0 non-null      float64
dtypes: float64(12), int64(1), object(2)
memory usage: 4.9+ KB

In [259]:
master_table.head()

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
0,Vancouver,BC,3108941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Victoria,BC,441491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kelowna,BC,251756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Nanaimo,BC,128371,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Kamloops,BC,128233,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [321]:
updated_cities = master_table['City'].tolist()
len(updated_cities)

39

## Land Area

In [286]:
land_area_df = pd.read_csv("data/population_and_land_area.csv", skiprows = 9)
land_area_df.head()

,Population and land area (2),"Population, 2021","Land area in square kilometres, 2021"
0,Census metropolitan areas and census agglomera...,2021,2021
1,"Abbotsford - Mission, British Columbia (CMA)","195,726",606.72
2,"Alma, Quebec (CA)","30,331",194.92
3,"Amos, Quebec (CA)","18,873","2,298.16"
4,"Baie-Comeau, Quebec (CA)","26,643",682.89

In [287]:
land_area_df = land_area_df.drop(columns=["Population, 2021"])

In [288]:
land_area_df.head()

,Population and land area (2),"Land area in square kilometres, 2021"
0,Census metropolitan areas and census agglomera...,2021
1,"Abbotsford - Mission, British Columbia (CMA)",606.72
2,"Alma, Quebec (CA)",194.92
3,"Amos, Quebec (CA)","2,298.16"
4,"Baie-Comeau, Quebec (CA)",682.89

In [291]:
land_area_df.columns=['City_L', 'Land_Area_L']

In [308]:
land_area_df.head()

                                                City_L Land_Area_L
148                           Winnipeg, Manitoba (CMA)    5,285.46
149                       Wood Buffalo, Alberta (CA) 2   60,957.21
150                            Woodstock, Ontario (CA)       56.46
151            Yellowknife, Northwest Territories (CA)      103.37
152                         Yorkton, Saskatchewan (CA)    1,623.32
153                                         Footnotes:         NaN
154                                                  1         NaN
155                                                  2         NaN
156  How to cite: Statistics Canada. Table 98-10-00...         NaN
157  https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...         NaN

In [293]:
land_area_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City_L       158 non-null    object
 1   Land_Area_L  153 non-null    object
dtypes: object(2)
memory usage: 2.6+ KB

In [316]:
land_area_df["Cleaned_City_L"] = land_area_df["City_L"].str.split(",").str[0]
land_area_df.head()

,City_L,Land_Area_L,Cleaned_City_L
0,Census metropolitan areas and census agglomera...,2021,Census metropolitan areas and census agglomera...
1,"Abbotsford - Mission, British Columbia (CMA)",606.72,Abbotsford - Mission
2,"Alma, Quebec (CA)",194.92,Alma
3,"Amos, Quebec (CA)","2,298.16",Amos
4,"Baie-Comeau, Quebec (CA)",682.89,Baie-Comeau

In [320]:
filtered_df_L = land_area_df.loc[land_area_df["Cleaned_City_L"].isin(updated_cities)]
filtered_df_L = filtered_df_L.reset_index(drop=True)
filtered_df_L

                                          City_L Land_Area_L  Cleaned_City_L
0                          Barrie, Ontario (CMA)      897.26          Barrie
1                         Brandon, Manitoba (CA)    1,232.81         Brandon
2                           Brooks, Alberta (CA)       18.21          Brooks
3                       Calgary, Alberta (CMA) 2    5,098.68         Calgary
4       Charlottetown, Prince Edward Island (CA)    1,112.43   Charlottetown
5   Corner Brook, Newfoundland and Labrador (CA)    1,122.58    Corner Brook
6                        Edmonton, Alberta (CMA)    9,416.19        Edmonton
7               Fredericton, New Brunswick (CMA)    6,014.66     Fredericton
8         Gander, Newfoundland and Labrador (CA)    2,412.67          Gander
9                     Halifax, Nova Scotia (CMA)    7,276.22         Halifax
10                       Hamilton, Ontario (CMA)    1,373.15        Hamilton
11              Kamloops, British Columbia (CMA)    5,654.08        Kamloops
12               Kelowna, British Columbia (CMA)    2,902.45         Kelowna
13                       Kingston, Ontario (CMA)    1,919.17        Kingston
14                     Lethbridge, Alberta (CMA)    2,958.96      Lethbridge
15                         London, Ontario (CMA)    2,661.48          London
16                  Moncton, New Brunswick (CMA)    2,562.47         Moncton
17               Nanaimo, British Columbia (CMA)    1,279.28         Nanaimo
18              Prince Albert, Saskatchewan (CA)    2,537.68   Prince Albert
19          Prince George, British Columbia (CA)   17,650.99   Prince George
20                       Red Deer, Alberta (CMA)      104.34        Red Deer
21                    Regina, Saskatchewan (CMA)    4,323.66          Regina
22               Saint John, New Brunswick (CMA)    3,505.66      Saint John
23                          Sarnia, Ontario (CA)    1,117.20          Sarnia
24                 Saskatoon, Saskatchewan (CMA)    5,864.48       Saskatoon
25                      Sherbrooke, Quebec (CMA)    1,458.10      Sherbrooke
26   St. John's, Newfoundland and Labrador (CMA)      931.56      St. John's
27                      Steinbach, Manitoba (CA)       37.56       Steinbach
28                       Thompson, Manitoba (CA)       16.62        Thompson
29                    Thunder Bay, Ontario (CMA)    2,550.79     Thunder Bay
30                        Toronto, Ontario (CMA)    5,902.75         Toronto
31                  Trois-Rivières, Quebec (CMA)    1,038.64  Trois-Rivières
32           Vancouver, British Columbia (CMA) 2    2,878.93       Vancouver
33              Victoria, British Columbia (CMA)      695.29        Victoria
34                        Whitehorse, Yukon (CA)    8,465.21      Whitehorse
35                      Winnipeg, Manitoba (CMA)    5,285.46        Winnipeg
36       Yellowknife, Northwest Territories (CA)      103.37     Yellowknife

In [329]:
filtered_df_L['Land_Area_L'] = filtered_df_L['Land_Area_L'].str.replace(',','').astype(float)

In [331]:
filtered_df_L.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City_L          37 non-null     object
 1   Land_Area_L     37 non-null     float64
 2   Cleaned_City_L  37 non-null     object
dtypes: float64(1), object(2)
memory usage: 1020.0+ bytes

In [333]:
city_to_area = dict(zip(filtered_df_L['Cleaned_City_L'], filtered_df_L['Land_Area_L']))
master_table['Land_Area'] = master_table['City'].map(city_to_area)

In [334]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
0,Vancouver,BC,3108941,2878.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Victoria,BC,441491,695.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kelowna,BC,251756,2902.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Edmonton,AB,1631614,9416.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Lethbridge,AB,139844,2958.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Regina,SK,282032,4323.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Prince Albert,SK,47929,2537.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Brandon,MB,61863,1232.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hamilton,ON,860266,1373.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,London,ON,626260,2661.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kitchener,ON,378867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Waterloo,ON,155550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Thunder Bay,ON,133063,2550.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Fredericton,NB,122500,6014.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Moncton,NB,188036,2562.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Saint John,NB,142433,3505.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Charlottetown,PE,93877,1112.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [335]:
master_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    39 non-null     object
 1   Province/Territory      39 non-null     object
 2   Population              39 non-null     int64
 3   Land_Area               37 non-null     float64
 4   Population_Density      0 non-null      float64
 5   House_Price             0 non-null      float64
 6   Rent_Price              0 non-null      float64
 7   Crime_Severity_Index    0 non-null      float64
 8   Unemployment_Rate       0 non-null      float64
 9   Average_Income          0 non-null      float64
 10  Winter_Avg_Temp         0 non-null      float64
 11  Summer_Avg_Temp         0 non-null      float64
 12  Annual_Avg_Temp         0 non-null      float64
 13  Cost_of_Living_Index    0 non-null      float64
 14  Local_Purchasing_Power  0 non-null      float64
dtypes: float64(12), int64(1), object(2)
memory usage: 4.7+ KB

In [339]:
master_table.loc[master_table['City']=='Kitchener', 'Land_Area']=136.86

In [340]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
0,Vancouver,BC,3108941,2878.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Victoria,BC,441491,695.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kelowna,BC,251756,2902.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Edmonton,AB,1631614,9416.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Lethbridge,AB,139844,2958.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Regina,SK,282032,4323.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Prince Albert,SK,47929,2537.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Brandon,MB,61863,1232.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hamilton,ON,860266,1373.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,London,ON,626260,2661.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kitchener,ON,378867,136.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Waterloo,ON,155550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Thunder Bay,ON,133063,2550.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Fredericton,NB,122500,6014.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Moncton,NB,188036,2562.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Saint John,NB,142433,3505.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Charlottetown,PE,93877,1112.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [341]:
master_table.loc[master_table['City']=='Waterloo', 'Land_Area']=64.06

In [342]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
0,Vancouver,BC,3108941,2878.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Victoria,BC,441491,695.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kelowna,BC,251756,2902.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Edmonton,AB,1631614,9416.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Lethbridge,AB,139844,2958.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Regina,SK,282032,4323.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Prince Albert,SK,47929,2537.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Brandon,MB,61863,1232.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hamilton,ON,860266,1373.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,London,ON,626260,2661.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kitchener,ON,378867,136.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Waterloo,ON,155550,64.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Thunder Bay,ON,133063,2550.79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Fredericton,NB,122500,6014.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Moncton,NB,188036,2562.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Saint John,NB,142433,3505.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Charlottetown,PE,93877,1112.43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Population Density

In [346]:
master_table['Population_Density'] = (master_table['Population'] / master_table['Land_Area']).round(2)

In [347]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
0,Vancouver,BC,3108941,2878.93,1079.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Victoria,BC,441491,695.29,634.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kelowna,BC,251756,2902.45,86.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,100.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,22.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,348.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Edmonton,AB,1631614,9416.19,173.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Lethbridge,AB,139844,2958.96,47.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,1080.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,62.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Regina,SK,282032,4323.66,65.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,1203.91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Hamilton,ON,860266,1373.15,626.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,London,ON,626260,2661.48,235.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Kitchener,ON,378867,136.86,2768.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,100.25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,72.86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Fredericton,NB,122500,6014.66,20.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Moncton,NB,188036,2562.47,73.38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Saint John,NB,142433,3505.66,40.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,Charlottetown,PE,93877,1112.43,84.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,256.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [353]:
new_cities = pd.DataFrame({
    "City": ["Québec City", "Montréal"],
    "Province/Territory": "QC",
    "Population": [900343, 4615154], 
    "Land_Area": [3499.46, 4670.10] 
})

master_table = pd.concat([master_table, new_cities], ignore_index=True)
master_table['Population_Density'] = (master_table['Population'] / master_table['Land_Area']).round(2)
(master_table.tail(10))

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Québec City,NaN,900343,3499.46,257.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Montréal,NaN,4615154,4670.10,988.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Québec City,NaN,900343,3499.46,257.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Montréal,NaN,4615154,4670.10,988.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Québec City,QC,900343,3499.46,257.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Montréal,QC,4615154,4670.10,988.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,Québec City,QC,900343,3499.46,257.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,Montréal,QC,4615154,4670.10,988.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [354]:
master_table = master_table.drop_duplicates(subset="City", keep="last").reset_index(drop=True)

In [355]:
master_table.tail(10)

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Québec City,QC,900343,3499.46,257.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Montréal,QC,4615154,4670.10,988.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

master_table

In [357]:
updated_cities

['Vancouver',
 'Victoria',
 'Kelowna',
 'Nanaimo',
 'Kamloops',
 'Calgary',
 'Edmonton',
 'Lethbridge',
 'Red Deer',
 'Saskatoon',
 'Regina',
 'Prince Albert',
 'Winnipeg',
 'Brandon',
 'Thompson',
 'Toronto',
 'Hamilton',
 'London',
 'Kitchener',
 'Waterloo',
 'Kingston',
 'Thunder Bay',
 'Trois-Rivières',
 'Sherbrooke',
 'Halifax',
 'Fredericton',
 'Moncton',
 'Saint John',
 'Charlottetown',
 "St. John's",
 'Corner Brook',
 'Gander',
 'Yellowknife',
 'Whitehorse',
 'Sarnia',
 'Prince George',
 'Brooks',
 'Steinbach',
 'Barrie']

In [359]:
updated_cities.append(['Québec City','Montréal'])

In [361]:
updated_cities.pop()

['Québec City', 'Montréal']

In [362]:
updated_cities

['Vancouver',
 'Victoria',
 'Kelowna',
 'Nanaimo',
 'Kamloops',
 'Calgary',
 'Edmonton',
 'Lethbridge',
 'Red Deer',
 'Saskatoon',
 'Regina',
 'Prince Albert',
 'Winnipeg',
 'Brandon',
 'Thompson',
 'Toronto',
 'Hamilton',
 'London',
 'Kitchener',
 'Waterloo',
 'Kingston',
 'Thunder Bay',
 'Trois-Rivières',
 'Sherbrooke',
 'Halifax',
 'Fredericton',
 'Moncton',
 'Saint John',
 'Charlottetown',
 "St. John's",
 'Corner Brook',
 'Gander',
 'Yellowknife',
 'Whitehorse',
 'Sarnia',
 'Prince George',
 'Brooks',
 'Steinbach',
 'Barrie']

In [364]:
updated_cities.extend(['Québec City','Montréal'])

In [415]:
updated_cities.extend(['Quebec City','Montreal'])

In [416]:

updated_cities

['Vancouver',
 'Victoria',
 'Kelowna',
 'Nanaimo',
 'Kamloops',
 'Calgary',
 'Edmonton',
 'Lethbridge',
 'Red Deer',
 'Saskatoon',
 'Regina',
 'Prince Albert',
 'Winnipeg',
 'Brandon',
 'Thompson',
 'Toronto',
 'Hamilton',
 'London',
 'Kitchener',
 'Waterloo',
 'Kingston',
 'Thunder Bay',
 'Trois-Rivières',
 'Sherbrooke',
 'Halifax',
 'Fredericton',
 'Moncton',
 'Saint John',
 'Charlottetown',
 "St. John's",
 'Corner Brook',
 'Gander',
 'Yellowknife',
 'Whitehorse',
 'Sarnia',
 'Prince George',
 'Brooks',
 'Steinbach',
 'Barrie',
 'Québec City',
 'Montréal',
 'Quebec City',
 'Montreal']

In [366]:
len(updated_cities)

41

In [369]:
master_table.shape[0]

41

## House Price

In [403]:
xls = pd.ExcelFile("data/house_price.xlsx")

all_rows = []

for sheet_name in xls.sheet_names:
    df = pd.read_excel(xls, sheet_name=sheet_name)
    row = df.loc[df['Date']==2024, ['Composite_HPI', 'Composite_Benchmark']].copy()
    row['City'] = sheet_name
    all_rows.append(row)
    

combined_df = pd.concat(all_rows, ignore_index=True)
combined_df
combined_df.to_excel("data/combined_house_prices.xlsx", index=False)

In [404]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Composite_HPI        61 non-null     float64
 1   Composite_Benchmark  61 non-null     int64
 2   City                 61 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.6+ KB

In [405]:
combined_df.head()

   Composite_HPI  Composite_Benchmark              City
0          298.3               715600         AGGREGATE
1          334.6               970900  BRITISH_COLUMBIA
2          360.3               689600  VANCOUVER_ISLAND
3          290.6               866300          VICTORIA
4          342.9              1123200    LOWER_MAINLAND

In [426]:
combined_df['City']= combined_df['City'].str.replace('_', ' ').str.strip().str.title()
combined_df

    Composite_HPI  Composite_Benchmark                       City
0           298.3               715600                  Aggregate
1           334.6               970900           British Columbia
2           360.3               689600           Vancouver Island
3           290.6               866300                   Victoria
4           342.9              1123200             Lower Mainland
..            ...                  ...                        ...
56          290.1               409000                Nova Scotia
57          308.8               538600          Halifax Dartmouth
58          311.2               365300       Prince Edward Island
59          232.0               297700  Newfoundland And Labrador
60          238.4               350100                St Johns Nl

[61 rows x 3 columns]

In [427]:
import re

pattern = '|'.join(updated_cities)
filtered_h_df = combined_df[combined_df['City'].str.contains(pattern, case=False, na=False)]
print(filtered_h_df)

    Composite_HPI  Composite_Benchmark                 City
2           360.3               689600     Vancouver Island
3           290.6               866300             Victoria
5           338.8              1191200    Greater Vancouver
10          278.3               578900              Calgary
11          232.5               392200             Edmonton
13          298.4               316600               Regina
14          310.4               397500            Saskatoon
15          299.0               357300             Winnipeg
18          382.5               790700  Barrie And District
23          378.2               839300  Hamilton Burlington
26          272.9               557800    Kingston And Area
27          373.0               734500   Kitchener Waterloo
29          404.8               608500     London St Thomas
43          329.2              1038100      Greater Toronto
50          284.3               533300         Montreal Cma
53          258.5               310900          Fredericton
54          263.3               357800      Greater Moncton
55          257.7               311800        Saint John Nb
57          308.8               538600    Halifax Dartmouth

In [428]:
filtered_h_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19 entries, 2 to 57
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Composite_HPI        19 non-null     float64
 1   Composite_Benchmark  19 non-null     int64
 2   City                 19 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 608.0+ bytes

In [439]:
extra_regions = ['Saskatchewan', 'Nova Scotia', 'New Brunswick', 'Prince Edward Island', 'Newfoundland And Labrador', 'Quebec', ' St Johns Nl', ' Ottawa']
pattern = '|'.join(updated_cities + extra_regions)

matches = combined_df['City'].str.contains(pattern, case=False, na=False)
print(matches.value_counts())

City
False    34
True     27
Name: count, dtype: int64

In [441]:
print(combined_df[~matches]['City'].tail(20))

25                Kawartha Lakes
28                     Lakelands
30                   Mississauga
31                Niagara Region
32                     North Bay
33          Northumberland Hills
34               Oakville Milton
35                        Ottawa
36    Peterborough And Kawarthas
37           Quinte And District
38            Rideau St Lawrence
39               Sault Ste Marie
40           Simcoe And District
41                       Sudbury
42          Tillsonburg District
44                 Windsor Essex
45           Woodstock Ingersoll
48                        Estrie
49                      Mauricie
60                   St Johns Nl
Name: City, dtype: object

In [434]:
new_city = pd.DataFrame({
    "City": ['Ottawa'],
    "Province/Territory": ["ON"],
    "Population": [1660269], 
    "Land_Area": [8046.99] 
})

master_table = pd.concat([master_table, new_city], ignore_index=True)
master_table['Population_Density'] = (master_table['Population'] / master_table['Land_Area']).round(2)
(master_table.tail(10))

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Québec City,QC,900343,3499.46,257.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Montréal,QC,4615154,4670.10,988.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Ottawa,ON,1660269,8046.99,206.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [482]:
# prov_name_map = {
#     'NS': 'Nova Scotia',
#     'SK': 'Saskatchewan',
#     'NB': 'New Brunswick',
#     'PE': 'Prince Edward Island',
#     'NL': 'Newfoundland And Labrador',
#     'QC': 'Quebec',
# }

# province_rows = combined_df[combined_df['City'].isin(prov_name_map.values())]
# composite_hpi_map = province_rows.set_index('City')['Composite_HPI'].to_dict()
# composite_benchmark_map = province_rows.set_index('City')['Composite_Benchmark'].to_dict()

# composite_hpi_map.keys()
# for prov_code, city in prov_name_map.items():
#     prov_name = city
#     if prov_name in composite_hpi_map:
#         filtered_h_df.loc[filtered_h_df['City'] == city, 'Composite_HPI'] = composite_hpi_map[prov_name]
# filtered_h_df

    Composite_HPI  Composite_Benchmark                 City
2           360.3               689600     Vancouver Island
3           290.6               866300             Victoria
5           338.8              1191200    Greater Vancouver
10          278.3               578900              Calgary
11          232.5               392200             Edmonton
13          298.4               316600               Regina
14          310.4               397500            Saskatoon
15          299.0               357300             Winnipeg
18          382.5               790700  Barrie And District
23          378.2               839300  Hamilton Burlington
26          272.9               557800    Kingston And Area
27          373.0               734500   Kitchener Waterloo
29          404.8               608500     London St Thomas
43          329.2              1038100      Greater Toronto
50          284.3               533300         Montreal Cma
53          258.5               310900          Fredericton
54          263.3               357800      Greater Moncton
55          257.7               311800        Saint John Nb
57          308.8               538600    Halifax Dartmouth

In [485]:
filtered_h_df = filtered_h_df[filtered_h_df['City'] != "Vancouver Island"]

In [486]:
filtered_h_df

    Composite_HPI  Composite_Benchmark                 City
3           290.6               866300             Victoria
5           338.8              1191200    Greater Vancouver
10          278.3               578900              Calgary
11          232.5               392200             Edmonton
13          298.4               316600               Regina
14          310.4               397500            Saskatoon
15          299.0               357300             Winnipeg
18          382.5               790700  Barrie And District
23          378.2               839300  Hamilton Burlington
26          272.9               557800    Kingston And Area
27          373.0               734500   Kitchener Waterloo
29          404.8               608500     London St Thomas
43          329.2              1038100      Greater Toronto
50          284.3               533300         Montreal Cma
53          258.5               310900          Fredericton
54          263.3               357800      Greater Moncton
55          257.7               311800        Saint John Nb
57          308.8               538600    Halifax Dartmouth

In [500]:
filtered_h_df = filtered_h_df.copy()

filtered_h_df['Cleaned_City_h'] = (
    filtered_h_df['City']
    .str.replace(r"\s*\(.*?\)", "", regex=True)  
    .str.replace(r"\s*And.*", "", regex=True)    
    .str.replace(r"Greater\s*", "", regex=True) 
    .str.replace(r"Greater\s*", "", regex=True)
    .str.replace(r"Nb\s*", "", regex=True) 
    .str.replace(r"\s*Cma\s*", "", regex=True)   
    .str.strip()                             
)

filtered_h_df.loc[filtered_h_df['Cleaned_City_h'] != 'Saint John', 'Cleaned_City_h'] = \
    filtered_h_df.loc[filtered_h_df['Cleaned_City_h'] != 'Saint John Nb', 'Cleaned_City_h'].str.split().str[0]

In [501]:
filtered_h_df

    Composite_HPI  Composite_Benchmark                 City Cleaned_City_h
3           290.6               866300             Victoria       Victoria
5           338.8              1191200            Vancouver      Vancouver
10          278.3               578900              Calgary        Calgary
11          232.5               392200             Edmonton       Edmonton
13          298.4               316600               Regina         Regina
14          310.4               397500            Saskatoon      Saskatoon
15          299.0               357300             Winnipeg       Winnipeg
18          382.5               790700               Barrie         Barrie
23          378.2               839300  Hamilton Burlington       Hamilton
26          272.9               557800             Kingston       Kingston
27          373.0               734500   Kitchener Waterloo      Kitchener
29          404.8               608500     London St Thomas         London
43          329.2              1038100              Toronto        Toronto
50          284.3               533300             Montreal       Montreal
53          258.5               310900          Fredericton    Fredericton
54          263.3               357800              Moncton        Moncton
55          257.7               311800        Saint John Nb     Saint John
57          308.8               538600    Halifax Dartmouth        Halifax

In [505]:
city_to_hprice = dict(zip(filtered_h_df['Cleaned_City_h'], filtered_h_df['Composite_Benchmark']))
master_table['House_Price'] = master_table['City'].map(city_to_hprice)

In [506]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power,House Price
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1191200.0
1,Victoria,BC,441491,695.29,634.97,866300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,866300.0
2,Kelowna,BC,251756,2902.45,86.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,100.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,22.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,348.89,578900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578900.0
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,392200.0
7,Lethbridge,AB,139844,2958.96,47.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,1080.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,397500.0
10,Regina,SK,282032,4323.66,65.23,316600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,316600.0
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,357300.0
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1038100.0
16,Hamilton,ON,860266,1373.15,626.49,839300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,839300.0
17,London,ON,626260,2661.48,235.31,608500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,608500.0
18,Kitchener,ON,378867,136.86,2768.28,734500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734500.0
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,100.25,557800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,557800.0
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,72.86,538600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,538600.0
25,Fredericton,NB,122500,6014.66,20.37,310900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310900.0
26,Moncton,NB,188036,2562.47,73.38,357800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,357800.0
27,Saint John,NB,142433,3505.66,40.63,311800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311800.0
28,Charlottetown,PE,93877,1112.43,84.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,256.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,790700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,790700.0
39,Québec City,QC,900343,3499.46,257.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Montréal,QC,4615154,4670.10,988.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Ottawa,ON,1660269,8046.99,206.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [507]:
city_to_hprice_HPI = dict(zip(filtered_h_df['Cleaned_City_h'], filtered_h_df['Composite_HPI']))
master_table['Composite_HPI'] = master_table['City'].map(city_to_hprice_HPI)

In [508]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power,House Price,Composite_HPI
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1191200.0,338.8
1,Victoria,BC,441491,695.29,634.97,866300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,866300.0,290.6
2,Kelowna,BC,251756,2902.45,86.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,100.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,22.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,348.89,578900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,578900.0,278.3
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,392200.0,232.5
7,Lethbridge,AB,139844,2958.96,47.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,1080.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,397500.0,310.4
10,Regina,SK,282032,4323.66,65.23,316600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,316600.0,298.4
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,357300.0,299.0
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1038100.0,329.2
16,Hamilton,ON,860266,1373.15,626.49,839300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,839300.0,378.2
17,London,ON,626260,2661.48,235.31,608500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,608500.0,404.8
18,Kitchener,ON,378867,136.86,2768.28,734500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,734500.0,373.0
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,100.25,557800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,557800.0,272.9
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,72.86,538600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,538600.0,308.8
25,Fredericton,NB,122500,6014.66,20.37,310900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310900.0,258.5
26,Moncton,NB,188036,2562.47,73.38,357800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,357800.0,263.3
27,Saint John,NB,142433,3505.66,40.63,311800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,311800.0,257.7
28,Charlottetown,PE,93877,1112.43,84.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,256.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,790700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,790700.0,382.5
39,Québec City,QC,900343,3499.46,257.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Montréal,QC,4615154,4670.10,988.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Ottawa,ON,1660269,8046.99,206.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [509]:
master_table = master_table.drop(columns=['House Price'])

In [510]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,338.8
1,Victoria,BC,441491,695.29,634.97,866300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.6
2,Kelowna,BC,251756,2902.45,86.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,100.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,22.68,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,348.89,578900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.3
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232.5
7,Lethbridge,AB,139844,2958.96,47.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,1080.69,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.4
10,Regina,SK,282032,4323.66,65.23,316600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,298.4
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299.0
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,329.2
16,Hamilton,ON,860266,1373.15,626.49,839300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378.2
17,London,ON,626260,2661.48,235.31,608500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404.8
18,Kitchener,ON,378867,136.86,2768.28,734500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373.0
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,100.25,557800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272.9
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,72.86,538600.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308.8
25,Fredericton,NB,122500,6014.66,20.37,310900.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258.5
26,Moncton,NB,188036,2562.47,73.38,357800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263.3
27,Saint John,NB,142433,3505.66,40.63,311800.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,257.7
28,Charlottetown,PE,93877,1112.43,84.39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,256.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,790700.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,382.5
39,Québec City,QC,900343,3499.46,257.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Montréal,QC,4615154,4670.10,988.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Ottawa,ON,1660269,8046.99,206.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Average rent

In [515]:
rent_df = pd.read_csv("data/average_rent.csv", skiprows = 8)
rent_df.head()

,Centre,Unnamed: 1,Oct-23,Unnamed: 3,Oct-24,Unnamed: 5,Oct-23\nto\nOct-24,Unnamed: 7,Unnamed: 8,Oct-23.1,Unnamed: 10,Oct-24.1,Unnamed: 12,Oct-23\nto\nOct-24.1,Unnamed: 14
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Newfoundland & Labrador 10,000+",NaN,"1,056",a,"1,164",a,9.1,c,NaN,"1,074",a,"1,044",a,2.8,c
2,St. John's CMA,NaN,"1,169",b,"1,299",a,9.4,c,NaN,"1,186",b,"1,153",a,**,NaN
3,"Prince Edward Island 10,000+",NaN,"1,235",b,"1,369",b,**,NaN,NaN,"1,126",a,"1,152",a,3.4,d
4,Charlottetown CA,NaN,"1,286",b,"1,380",b,**,NaN,NaN,"1,165",a,"1,161",a,**,NaN

In [524]:
rent_df = rent_df[['Centre', 'Oct-24']]
rent_df

                                               Centre Oct-24
0                                                 NaN    NaN
1                     Newfoundland & Labrador 10,000+  1,164
2                                      St. John's CMA  1,299
3                        Prince Edward Island 10,000+  1,369
4                                    Charlottetown CA  1,380
..                                                ...    ...
64  1 Change in rent is calculated based on struct...    NaN
65  2 Change in rent is calculated based on struct...    NaN
66                                                NaN    NaN
67                Source: Rental Market Survey (CMHC)    NaN
68     © 2024 Canada Mortgage and Housing Corporation    NaN

[69 rows x 2 columns]

In [525]:
rent_df = rent_df.dropna()

In [526]:
rent_df

                               Centre Oct-24
1     Newfoundland & Labrador 10,000+  1,164
2                      St. John's CMA  1,299
3        Prince Edward Island 10,000+  1,369
4                    Charlottetown CA  1,380
5                 Nova Scotia 10,000+  1,954
6                         Halifax CMA  2,116
7               New Brunswick 10,000+  1,398
8                     Fredericton CMA  1,448
9                         Moncton CMA  1,426
10                     Saint John CMA  1,366
11                     Québec 10,000+  1,310
12                       Saguenay CMA    980
13                  Drummondville CMA  1,114
14                       Montréal CMA  1,407
15    Ottawa-Gatineau CMA (Qué. part)  1,422
16                         Québec CMA  1,219
17                     Sherbrooke CMA  1,028
18                 Trois-Rivières CMA  1,047
19                    Ontario 10,000+  2,107
20                         Barrie CMA  2,004
21       Belleville - Quinte West CMA  1,806
22                      Brantford CMA  1,886
23                         Guelph CMA  2,291
24                       Hamilton CMA  2,175
25                       Kingston CMA  1,930
26   Kitchener-Cambridge-Waterloo CMA  2,137
27                         London CMA  1,920
28         St. Catharines-Niagara CMA  1,819
29                         Oshawa CMA  2,037
30    Ottawa-Gatineau CMA (Ont. part)  2,118
31                   Peterborough CMA  1,803
32  Greater Sudbury/Grand Sudbury CMA  1,586
33                    Thunder Bay CMA  1,498
34                        Toronto CMA  2,612
35                        Windsor CMA  1,647
36                   Manitoba 10,000+  1,482
37                       Winnipeg CMA  1,528
38               Saskatchewan 10,000+  1,449
39                         Regina CMA  1,542
40                      Saskatoon CMA  1,490
41                    Alberta 10,000+  1,649
42                        Calgary CMA  1,927
43                       Edmonton CMA  1,560
44                     Lethbridge CMA  1,662
45                       Red Deer CMA  1,486
46           British Columbia 10,000+  2,282
47             Abbotsford-Mission CMA  1,792
48                     Chilliwack CMA  1,680
49                       Kamloops CMA  1,934
50                        Kelowna CMA  2,105
51                        Nanaimo CMA  2,087
52                      Vancouver CMA  2,883
53                       Victoria CMA  2,474
54                     Canada 10,000+  1,641
55                        Canada CMAs  1,689

In [528]:
rent_df.columns = ['City_R', 'Rent']

In [574]:
rent_df = rent_df.copy()
rent_df['City_R'] = rent_df['City_R'].str.replace('CMA','').str.replace('10,000+','').str.replace('CA','').str.replace('Ottawa-Gatineau (Qué. part)','Ottawa').str.replace('Abbotsford-Mission','Abbotsford').str.replace('Greater Sudbury/Grand Sudbury', 'Sudbury').str.replace('Québec', 'Québec City').str.strip()
#rent_df['Rent'] = rent_df['Rent'].str.replace(',','').astype(int)

rent_df

                          City_R  Rent
1        Newfoundland & Labrador  1164
2                     St. John's  1299
3           Prince Edward Island  1369
4                  Charlottetown  1380
5                    Nova Scotia  1954
6                        Halifax  2116
7                  New Brunswick  1398
8                    Fredericton  1448
9                        Moncton  1426
10                    Saint John  1366
11                   Québec City  1310
12                      Saguenay   980
13                 Drummondville  1114
14                      Montréal  1407
15  Ottawa-Gatineau  (Qué. part)  1422
16                   Québec City  1219
17                    Sherbrooke  1028
18                Trois-Rivières  1047
19                       Ontario  2107
20                        Barrie  2004
21      Belleville - Quinte West  1806
22                     Brantford  1886
23                        Guelph  2291
24                      Hamilton  2175
25                      Kingston  1930
26  Kitchener-Cambridge-Waterloo  2137
27                        London  1920
28        St. Catharines-Niagara  1819
29                        Oshawa  2037
30  Ottawa-Gatineau  (Ont. part)  2118
31                  Peterborough  1803
32                       Sudbury  1586
33                   Thunder Bay  1498
34                       Toronto  2612
35                       Windsor  1647
36                      Manitoba  1482
37                      Winnipeg  1528
38                  Saskatchewan  1449
39                        Regina  1542
40                     Saskatoon  1490
41                       Alberta  1649
42                       Calgary  1927
43                      Edmonton  1560
44                    Lethbridge  1662
45                      Red Deer  1486
46              British Columbia  2282
47                    Abbotsford  1792
48                    Chilliwack  1680
49                      Kamloops  1934
50                       Kelowna  2105
51                       Nanaimo  2087
52                     Vancouver  2883
53                      Victoria  2474
54                        Canada  1641
55                      Canada s  1689

In [575]:
filtered_r_df = rent_df.loc[rent_df["City_R"].isin(updated_cities)].reset_index(drop=True)
filtered_r_df

            City_R  Rent
0       St. John's  1299
1    Charlottetown  1380
2          Halifax  2116
3      Fredericton  1448
4          Moncton  1426
5       Saint John  1366
6      Québec City  1310
7         Montréal  1407
8      Québec City  1219
9       Sherbrooke  1028
10  Trois-Rivières  1047
11          Barrie  2004
12        Hamilton  2175
13        Kingston  1930
14          London  1920
15     Thunder Bay  1498
16         Toronto  2612
17        Winnipeg  1528
18          Regina  1542
19       Saskatoon  1490
20         Calgary  1927
21        Edmonton  1560
22      Lethbridge  1662
23        Red Deer  1486
24        Kamloops  1934
25         Kelowna  2105
26         Nanaimo  2087
27       Vancouver  2883
28        Victoria  2474

In [582]:
city_to_rent = dict(zip(filtered_r_df['City_R'], filtered_r_df['Rent']))
master_table['Rent_Price'] = master_table['City'].map(city_to_rent)

In [583]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,338.8
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.6
2,Kelowna,BC,251756,2902.45,86.74,NaN,2105.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,100.35,NaN,2087.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,22.68,NaN,1934.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,348.89,578900.0,1927.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.3
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,1560.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232.5
7,Lethbridge,AB,139844,2958.96,47.26,NaN,1662.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,1080.69,NaN,1486.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,1490.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.4
10,Regina,SK,282032,4323.66,65.23,316600.0,1542.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,298.4
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,1528.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299.0
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,2612.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,329.2
16,Hamilton,ON,860266,1373.15,626.49,839300.0,2175.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378.2
17,London,ON,626260,2661.48,235.31,608500.0,1920.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404.8
18,Kitchener,ON,378867,136.86,2768.28,734500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373.0
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,100.25,557800.0,1930.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272.9
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,1498.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,1047.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,1028.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,72.86,538600.0,2116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308.8
25,Fredericton,NB,122500,6014.66,20.37,310900.0,1448.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258.5
26,Moncton,NB,188036,2562.47,73.38,357800.0,1426.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263.3
27,Saint John,NB,142433,3505.66,40.63,311800.0,1366.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,257.7
28,Charlottetown,PE,93877,1112.43,84.39,NaN,1380.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,256.90,NaN,1299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,790700.0,2004.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,382.5
39,Québec City,QC,900343,3499.46,257.28,NaN,1219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Montréal,QC,4615154,4670.10,988.23,NaN,1407.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Ottawa,ON,1660269,8046.99,206.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Crime Data

In [584]:
crime_df = pd.read_csv('data/crime_data.csv', skiprows=8)

In [585]:
crime_df

,Statistics,Crime severity index 11 12 13 14,Percent change in crime severity index 15,Violent crime severity index 14 16,Percent change in violent crime severity index 15,Non-violent crime severity index 14 17,Percent change in non-violent crime severity index 15,Youth crime severity index 14 18 19,Percent change in youth crime severity index 20,Youth violent crime severity index 14 21,Percent change in youth violent crime severity index 20,Youth non-violent crime severity index 14 22,Percent change in youth non-violent crime severity index 20,Weighted clearance rate 23,Percent change in weighted clearance rate 20,Violent weighted clearance rate,Percent change in violent weighted clearance rate 20,Non-violent weighted clearance rate,Percent change in non-violent weighted clearance rate 20
0,Geography 3 10,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024,2024
1,NaN,Index,Percent,Index,Percent,Index,Percent,Index,Percent,Index,Percent,Index,Percent,Number,Percent,Number,Percent,Number,Percent
2,Canada 7 24,77.89,-4.08,99.87,-1.04,69.76,-5.73,52.46,-3.23,83.28,-4.08,30.94,-1.59,35.54,1.98,53.65,-0.67,25.17,3.11
3,Newfoundland and Labrador [10],89.25,1.72,89.89,-9.95,89.74,7.27,52.90,16.70,83.72,8.81,31.39,34.78,26.42,-4.76,47.42,3.72,18.01,-6.00
4,"St. John's, Newfoundland and Labrador [10001] 25",76.95,-6.57,94.16,-9.49,70.71,-4.96,..,..,..,..,..,..,31.20,9.59,46.93,9.04,22.83,12.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,55,"In 2020, the Vancouver census metropolitan are...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
116,56,The increase in incidents of child pornography...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
117,57,1998 data in this table for Northwest Territor...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,How to cite: Statistics Canada. Table 35-10-00...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,https://www150.statcan.gc.ca/t1/tbl1/en/tv.act...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [586]:
crime_df = crime_df[['Statistics', 'Crime severity index 11 12 13 14']]

In [587]:
crime_df.head()

,Statistics,Crime severity index 11 12 13 14
0,Geography 3 10,2024
1,NaN,Index
2,Canada 7 24,77.89
3,Newfoundland and Labrador [10],89.25
4,"St. John's, Newfoundland and Labrador [10001] 25",76.95

In [596]:
crime_df.columns = ['City_C', 'Crime_CSI']

In [597]:
crime_df

,City_C,Crime_CSI
0,Geography 3 10,2024
2,Canada 7 24,77.89
3,Newfoundland and Labrador [10],89.25
4,"St. John's, Newfoundland and Labrador [10001] 25",76.95
5,Prince Edward Island [11],72.59
...,...,...
113,53,"Between April 1 and September 30 2014, the Bri..."
114,54,The increase in incidents of child pornography...
115,55,"In 2020, the Vancouver census metropolitan are..."
116,56,The increase in incidents of child pornography...
117,57,1998 data in this table for Northwest Territor...

In [598]:
crime_df = crime_df.dropna()

In [599]:
crime_df.head(10)

                                              City_C Crime_CSI
0                                     Geography 3 10      2024
2                                        Canada 7 24     77.89
3                     Newfoundland and Labrador [10]     89.25
4   St. John's, Newfoundland and Labrador [10001] 25     76.95
5                          Prince Edward Island [11]     72.59
6                                   Nova Scotia [12]     75.45
7                       Halifax, Nova Scotia [12205]     73.95
8                                 New Brunswick [13]     84.53
9               Moncton, New Brunswick [13305] 26 27     93.83
10  Saint John, New Brunswick [13310] 10 25 27 28 29     58.40

In [607]:
crime_df['Cleaned_City_C'] = crime_df['City_C'].str.split('[').str[0].str.strip()
crime_df['Cleaned_City_C'] = crime_df['Cleaned_City_C'].str.split(',').str[0].str.strip()

In [612]:
crime_df.head()

,City_C,Crime_CSI,Cleaned_City_C
0,Geography 3 10,2024,Geography 3 10
2,Canada 7 24,77.89,Canada 7 24
3,Newfoundland and Labrador [10],89.25,Newfoundland and Labrador
4,"St. John's, Newfoundland and Labrador [10001] 25",76.95,St. John's
5,Prince Edward Island [11],72.59,Prince Edward Island

filtered_c_df = crime_df.loc[crime_df['Cleaned_City_C'].isin(updated_cities)].reset_index(drop=True)
filtered_c_df

In [620]:
filtered_c_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City_C          26 non-null     object
 1   Crime_CSI       26 non-null     object
 2   Cleaned_City_C  26 non-null     object
dtypes: object(3)
memory usage: 756.0+ bytes

In [623]:
filtered_c_df['Crime_CSI'] = filtered_c_df['Crime_CSI'].astype(float)

In [624]:
filtered_c_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City_C          26 non-null     object
 1   Crime_CSI       26 non-null     float64
 2   Cleaned_City_C  26 non-null     object
dtypes: float64(1), object(2)
memory usage: 756.0+ bytes

In [625]:
city_to_crime = dict(zip(filtered_c_df['Cleaned_City_C'], filtered_c_df['Crime_CSI']))
master_table['Crime_Severity_Index'] = master_table['City'].map(city_to_crime)

In [626]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,338.8
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,290.6
2,Kelowna,BC,251756,2902.45,86.74,NaN,2105.0,108.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,100.35,NaN,2087.0,106.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,22.68,NaN,1934.0,129.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,348.89,578900.0,1927.0,62.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.3
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,1560.0,101.12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,232.5
7,Lethbridge,AB,139844,2958.96,47.26,NaN,1662.0,105.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,1080.69,NaN,1486.0,118.65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,1490.0,106.71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,310.4
10,Regina,SK,282032,4323.66,65.23,316600.0,1542.0,100.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,298.4
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,1528.0,124.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,299.0
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,2612.0,59.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,329.2
16,Hamilton,ON,860266,1373.15,626.49,839300.0,2175.0,58.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,378.2
17,London,ON,626260,2661.48,235.31,608500.0,1920.0,61.22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404.8
18,Kitchener,ON,378867,136.86,2768.28,734500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373.0
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,100.25,557800.0,1930.0,59.26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,272.9
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,1498.0,107.70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,1047.0,61.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,1028.0,53.90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,72.86,538600.0,2116.0,73.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,308.8
25,Fredericton,NB,122500,6014.66,20.37,310900.0,1448.0,73.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,258.5
26,Moncton,NB,188036,2562.47,73.38,357800.0,1426.0,93.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,263.3
27,Saint John,NB,142433,3505.66,40.63,311800.0,1366.0,58.40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,257.7
28,Charlottetown,PE,93877,1112.43,84.39,NaN,1380.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,256.90,NaN,1299.0,76.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,790700.0,2004.0,48.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,382.5
39,Québec City,QC,900343,3499.46,257.28,NaN,1219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Montréal,QC,4615154,4670.10,988.23,NaN,1407.0,61.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Ottawa,ON,1660269,8046.99,206.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Unemployment Rate

In [634]:
unemp_df = pd.read_csv('data/unemployment_rate.csv', skiprows = 7)

In [636]:
unemp_df = unemp_df.dropna()

In [637]:
unemp_df

,Labour force characteristics,Unemployment rate 3
0,Gender 4 5,Total - Gender
1,Age group,15 years and over
2,Geography 6 7 8,2024
4,"St. John's, Newfoundland and Labrador",6.9
5,"Halifax, Nova Scotia",5.5
6,"Moncton, New Brunswick",5.4
7,"Saint John, New Brunswick",6.3
8,"Fredericton, New Brunswick 9",5.8
9,"Saguenay, Quebec",3.0
10,"Québec, Quebec",3.9
11,"Sherbrooke, Quebec",5.0
12,"Trois-Rivières, Quebec",5.9
13,"Drummondville, Québec 9",4.5
14,"Montréal, Quebec",6.2
15,"Ottawa-Gatineau, Ontario/Quebec",5.7
16,"Ottawa-Gatineau, Quebec part, Ontario/Quebec",5.9
17,"Ottawa-Gatineau, Ontario part, Ontario/Quebec",5.7
18,"Kingston, Ontario",6.3
19,"Belleville - Quinte West, Ontario 9",4.5
20,"Peterborough, Ontario 9",4.8
21,"Oshawa, Ontario",6.8
22,"Toronto, Ontario",8.0
23,"Hamilton, Ontario",6.8
24,"St. Catharines-Niagara, Ontario",7.5
25,"Kitchener-Cambridge-Waterloo, Ontario",7.2
26,"Brantford, Ontario",5.4
27,"Guelph, Ontario",5.0
28,"London, Ontario",6.6
29,"Windsor, Ontario",8.3
30,"Barrie, Ontario",6.1
31,"Greater Sudbury, Ontario",5.5
32,"Thunder Bay, Ontario",4.3
33,"Winnipeg, Manitoba",5.5
34,"Regina, Saskatchewan",6.3
35,"Saskatoon, Saskatchewan",5.1
36,"Lethbridge, Alberta",5.5
37,"Calgary, Alberta",7.7
38,"Red Deer, Alberta 9",8.3
39,"Edmonton, Alberta",7.5
40,"Kelowna, British Columbia",4.9
41,"Kamloops, British Columbia 9",4.8
42,"Chilliwack, British Columbia 9",6.2
43,"Abbotsford-Mission, British Columbia",5.7
44,"Vancouver, British Columbia",5.9
45,"Victoria, British Columbia",3.9
46,"Nanaimo, British Columbia 9",4.7
48,1,"To ensure respondent confidentiality, estimate..."
49,2,This new table replaces archived table 14-10-0...
50,3,The unemployment rate is the number of unemplo...
51,4,Gender refers to an individual's personal and ...
52,5,"Given that the non-binary population is small,..."
53,6,A census metropolitan area (CMA) is formed by ...
54,7,Excluding the territories.
55,8,"From 2011 to present, census metropolitan area..."
56,9,"Due to a smaller sample size, estimates for th..."

In [638]:
unemp_df.columns = ['City_U', 'Unemployment_Rate']

In [639]:
unemp_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 55 entries, 0 to 56
Data columns (total 2 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City_U             55 non-null     object
 1   Unemployment_Rate  55 non-null     object
dtypes: object(2)
memory usage: 1.3+ KB

In [641]:
unemp_df = unemp_df.copy()
unemp_df['Cleaned_CIty_U'] = unemp_df['City_U'].str.split(',').str[0]

In [642]:
unemp_df

,City_U,Unemployment_Rate,Cleaned_CIty_U
0,Gender 4 5,Total - Gender,Gender 4 5
1,Age group,15 years and over,Age group
2,Geography 6 7 8,2024,Geography 6 7 8
4,"St. John's, Newfoundland and Labrador",6.9,St. John's
5,"Halifax, Nova Scotia",5.5,Halifax
6,"Moncton, New Brunswick",5.4,Moncton
7,"Saint John, New Brunswick",6.3,Saint John
8,"Fredericton, New Brunswick 9",5.8,Fredericton
9,"Saguenay, Quebec",3.0,Saguenay
10,"Québec, Quebec",3.9,Québec
11,"Sherbrooke, Quebec",5.0,Sherbrooke
12,"Trois-Rivières, Quebec",5.9,Trois-Rivières
13,"Drummondville, Québec 9",4.5,Drummondville
14,"Montréal, Quebec",6.2,Montréal
15,"Ottawa-Gatineau, Ontario/Quebec",5.7,Ottawa-Gatineau
16,"Ottawa-Gatineau, Quebec part, Ontario/Quebec",5.9,Ottawa-Gatineau
17,"Ottawa-Gatineau, Ontario part, Ontario/Quebec",5.7,Ottawa-Gatineau
18,"Kingston, Ontario",6.3,Kingston
19,"Belleville - Quinte West, Ontario 9",4.5,Belleville - Quinte West
20,"Peterborough, Ontario 9",4.8,Peterborough
21,"Oshawa, Ontario",6.8,Oshawa
22,"Toronto, Ontario",8.0,Toronto
23,"Hamilton, Ontario",6.8,Hamilton
24,"St. Catharines-Niagara, Ontario",7.5,St. Catharines-Niagara
25,"Kitchener-Cambridge-Waterloo, Ontario",7.2,Kitchener-Cambridge-Waterloo
26,"Brantford, Ontario",5.4,Brantford
27,"Guelph, Ontario",5.0,Guelph
28,"London, Ontario",6.6,London
29,"Windsor, Ontario",8.3,Windsor
30,"Barrie, Ontario",6.1,Barrie
31,"Greater Sudbury, Ontario",5.5,Greater Sudbury
32,"Thunder Bay, Ontario",4.3,Thunder Bay
33,"Winnipeg, Manitoba",5.5,Winnipeg
34,"Regina, Saskatchewan",6.3,Regina
35,"Saskatoon, Saskatchewan",5.1,Saskatoon
36,"Lethbridge, Alberta",5.5,Lethbridge
37,"Calgary, Alberta",7.7,Calgary
38,"Red Deer, Alberta 9",8.3,Red Deer
39,"Edmonton, Alberta",7.5,Edmonton
40,"Kelowna, British Columbia",4.9,Kelowna
41,"Kamloops, British Columbia 9",4.8,Kamloops
42,"Chilliwack, British Columbia 9",6.2,Chilliwack
43,"Abbotsford-Mission, British Columbia",5.7,Abbotsford-Mission
44,"Vancouver, British Columbia",5.9,Vancouver
45,"Victoria, British Columbia",3.9,Victoria
46,"Nanaimo, British Columbia 9",4.7,Nanaimo
48,1,"To ensure respondent confidentiality, estimate...",1
49,2,This new table replaces archived table 14-10-0...,2
50,3,The unemployment rate is the number of unemplo...,3
51,4,Gender refers to an individual's personal and ...,4
52,5,"Given that the non-binary population is small,...",5
53,6,A census metropolitan area (CMA) is formed by ...,6
54,7,Excluding the territories.,7
55,8,"From 2011 to present, census metropolitan area...",8
56,9,"Due to a smaller sample size, estimates for th...",9

In [643]:
unemp_df['Cleaned_CIty_U'] = unemp_df['Cleaned_CIty_U'].str.split('-').str[0]

In [644]:
unemp_df

,City_U,Unemployment_Rate,Cleaned_CIty_U
0,Gender 4 5,Total - Gender,Gender 4 5
1,Age group,15 years and over,Age group
2,Geography 6 7 8,2024,Geography 6 7 8
4,"St. John's, Newfoundland and Labrador",6.9,St. John's
5,"Halifax, Nova Scotia",5.5,Halifax
6,"Moncton, New Brunswick",5.4,Moncton
7,"Saint John, New Brunswick",6.3,Saint John
8,"Fredericton, New Brunswick 9",5.8,Fredericton
9,"Saguenay, Quebec",3.0,Saguenay
10,"Québec, Quebec",3.9,Québec
11,"Sherbrooke, Quebec",5.0,Sherbrooke
12,"Trois-Rivières, Quebec",5.9,Trois
13,"Drummondville, Québec 9",4.5,Drummondville
14,"Montréal, Quebec",6.2,Montréal
15,"Ottawa-Gatineau, Ontario/Quebec",5.7,Ottawa
16,"Ottawa-Gatineau, Quebec part, Ontario/Quebec",5.9,Ottawa
17,"Ottawa-Gatineau, Ontario part, Ontario/Quebec",5.7,Ottawa
18,"Kingston, Ontario",6.3,Kingston
19,"Belleville - Quinte West, Ontario 9",4.5,Belleville
20,"Peterborough, Ontario 9",4.8,Peterborough
21,"Oshawa, Ontario",6.8,Oshawa
22,"Toronto, Ontario",8.0,Toronto
23,"Hamilton, Ontario",6.8,Hamilton
24,"St. Catharines-Niagara, Ontario",7.5,St. Catharines
25,"Kitchener-Cambridge-Waterloo, Ontario",7.2,Kitchener
26,"Brantford, Ontario",5.4,Brantford
27,"Guelph, Ontario",5.0,Guelph
28,"London, Ontario",6.6,London
29,"Windsor, Ontario",8.3,Windsor
30,"Barrie, Ontario",6.1,Barrie
31,"Greater Sudbury, Ontario",5.5,Greater Sudbury
32,"Thunder Bay, Ontario",4.3,Thunder Bay
33,"Winnipeg, Manitoba",5.5,Winnipeg
34,"Regina, Saskatchewan",6.3,Regina
35,"Saskatoon, Saskatchewan",5.1,Saskatoon
36,"Lethbridge, Alberta",5.5,Lethbridge
37,"Calgary, Alberta",7.7,Calgary
38,"Red Deer, Alberta 9",8.3,Red Deer
39,"Edmonton, Alberta",7.5,Edmonton
40,"Kelowna, British Columbia",4.9,Kelowna
41,"Kamloops, British Columbia 9",4.8,Kamloops
42,"Chilliwack, British Columbia 9",6.2,Chilliwack
43,"Abbotsford-Mission, British Columbia",5.7,Abbotsford
44,"Vancouver, British Columbia",5.9,Vancouver
45,"Victoria, British Columbia",3.9,Victoria
46,"Nanaimo, British Columbia 9",4.7,Nanaimo
48,1,"To ensure respondent confidentiality, estimate...",1
49,2,This new table replaces archived table 14-10-0...,2
50,3,The unemployment rate is the number of unemplo...,3
51,4,Gender refers to an individual's personal and ...,4
52,5,"Given that the non-binary population is small,...",5
53,6,A census metropolitan area (CMA) is formed by ...,6
54,7,Excluding the territories.,7
55,8,"From 2011 to present, census metropolitan area...",8
56,9,"Due to a smaller sample size, estimates for th...",9

In [645]:
filtered_u_df = unemp_df.loc[unemp_df['Cleaned_CIty_U'].isin(updated_cities)].reset_index(drop=True)

In [647]:
filtered_u_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City_U             26 non-null     object
 1   Unemployment_Rate  26 non-null     object
 2   Cleaned_CIty_U     26 non-null     object
dtypes: object(3)
memory usage: 756.0+ bytes

In [648]:
filtered_u_df['Unemployment_Rate'] = filtered_u_df['Unemployment_Rate'].astype(float)

In [649]:
filtered_u_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City_U             26 non-null     object
 1   Unemployment_Rate  26 non-null     float64
 2   Cleaned_CIty_U     26 non-null     object
dtypes: float64(1), object(2)
memory usage: 756.0+ bytes

In [651]:
city_to_unemp = dict(zip(filtered_u_df['Cleaned_CIty_U'], filtered_u_df['Unemployment_Rate']))
master_table['Unemployment_Rate'] = master_table['City'].map(city_to_unemp)

In [652]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Winter_Avg_Temp,Summer_Avg_Temp,Annual_Avg_Temp,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,5.9,NaN,NaN,NaN,NaN,NaN,NaN,338.8
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,3.9,NaN,NaN,NaN,NaN,NaN,NaN,290.6
2,Kelowna,BC,251756,2902.45,86.74,NaN,2105.0,108.82,4.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nanaimo,BC,128371,1279.28,100.35,NaN,2087.0,106.71,4.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Kamloops,BC,128233,5654.08,22.68,NaN,1934.0,129.87,4.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Calgary,AB,1778881,5098.68,348.89,578900.0,1927.0,62.32,7.7,NaN,NaN,NaN,NaN,NaN,NaN,278.3
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,1560.0,101.12,7.5,NaN,NaN,NaN,NaN,NaN,NaN,232.5
7,Lethbridge,AB,139844,2958.96,47.26,NaN,1662.0,105.51,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Red Deer,AB,112759,104.34,1080.69,NaN,1486.0,118.65,8.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,1490.0,106.71,5.1,NaN,NaN,NaN,NaN,NaN,NaN,310.4
10,Regina,SK,282032,4323.66,65.23,316600.0,1542.0,100.31,6.3,NaN,NaN,NaN,NaN,NaN,NaN,298.4
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,1528.0,124.41,5.5,NaN,NaN,NaN,NaN,NaN,NaN,299.0
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,2612.0,59.35,8.0,NaN,NaN,NaN,NaN,NaN,NaN,329.2
16,Hamilton,ON,860266,1373.15,626.49,839300.0,2175.0,58.28,6.8,NaN,NaN,NaN,NaN,NaN,NaN,378.2
17,London,ON,626260,2661.48,235.31,608500.0,1920.0,61.22,6.6,NaN,NaN,NaN,NaN,NaN,NaN,404.8
18,Kitchener,ON,378867,136.86,2768.28,734500.0,NaN,NaN,7.2,NaN,NaN,NaN,NaN,NaN,NaN,373.0
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Kingston,ON,192389,1919.17,100.25,557800.0,1930.0,59.26,6.3,NaN,NaN,NaN,NaN,NaN,NaN,272.9
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,1498.0,107.70,4.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,1047.0,61.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,1028.0,53.90,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,Halifax,NS,530167,7276.22,72.86,538600.0,2116.0,73.95,5.5,NaN,NaN,NaN,NaN,NaN,NaN,308.8
25,Fredericton,NB,122500,6014.66,20.37,310900.0,1448.0,73.61,5.8,NaN,NaN,NaN,NaN,NaN,NaN,258.5
26,Moncton,NB,188036,2562.47,73.38,357800.0,1426.0,93.83,5.4,NaN,NaN,NaN,NaN,NaN,NaN,263.3
27,Saint John,NB,142433,3505.66,40.63,311800.0,1366.0,58.40,6.3,NaN,NaN,NaN,NaN,NaN,NaN,257.7
28,Charlottetown,PE,93877,1112.43,84.39,NaN,1380.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,St. John's,NL,239316,931.56,256.90,NaN,1299.0,76.95,6.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Barrie,ON,245586,897.26,273.71,790700.0,2004.0,48.10,6.1,NaN,NaN,NaN,NaN,NaN,NaN,382.5
39,Québec City,QC,900343,3499.46,257.28,NaN,1219.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Montréal,QC,4615154,4670.10,988.23,NaN,1407.0,61.67,6.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Ottawa,ON,1660269,8046.99,206.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Temperature

In [656]:
temp_df = pd.read_csv('data/average_temp.csv')

In [657]:
temp_df

,City,Avg_Summer_Temp (°C),Avg_Winter_Temp (°C),Avg_Yearly_Temp (°C)
0,Vancouver,18.2,3.2,10.7
1,Victoria,17.9,4.0,11.0
2,Kelowna,22.4,-2.0,9.3
3,Nanaimo,17.5,3.5,10.5
4,Kamloops,23.0,-4.0,9.5
5,Calgary,17.0,-7.0,5.0
6,Edmonton,16.0,-10.0,3.0
7,Lethbridge,19.0,-6.0,6.5
8,Red Deer,16.5,-9.5,3.5
9,Saskatoon,17.0,-11.0,2.5
10,Regina,16.5,-10.5,3.0
11,Winnipeg,16.0,-14.0,1.0
12,Brandon,16.5,-13.5,2.0
13,Thompson,15.0,-20.0,-2.5
14,Toronto,21.0,-4.0,8.5
15,Hamilton,20.5,-3.5,8.5
16,London,20.0,-4.5,7.8
17,Kitchener,19.5,-5.0,7.3
18,Waterloo,19.0,-5.5,6.8
19,Kingston,18.5,-6.0,7.0
20,Thunder Bay,16.0,-10.0,3.0
21,Trois-Rivières,18.0,-6.0,6.0
22,Sherbrooke,17.5,-7.0,5.5
23,Halifax,17.0,0.0,8.5
24,Fredericton,18.0,-5.0,6.5
25,Moncton,17.5,-4.5,6.0
26,Saint John,17.0,-5.5,5.8
27,Charlottetown,16.5,-5.0,5.8
28,St. John's,11.0,-1.5,4.0
29,Corner Brook,12.0,-2.0,4.5
30,Gander,11.5,-3.5,4.0
31,Yellowknife,15.0,-17.0,-1.0
32,Whitehorse,18.0,-10.0,4.0
33,Sarnia,20.0,-4.0,7.5
34,Prince George,18.5,-6.5,6.0
35,Brooks,20.0,-5.0,7.5
36,Steinbach,17.0,-13.0,2.0
37,Barrie,19.0,-5.0,7.0
38,Québec City,17.0,-8.0,4.5
39,Montréal,19.0,-6.0,7.0

In [658]:
temp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   City                  40 non-null     object
 1   Avg_Summer_Temp (°C)  40 non-null     float64
 2   Avg_Winter_Temp (°C)  40 non-null     float64
 3   Avg_Yearly_Temp (°C)  40 non-null     float64
dtypes: float64(3), object(1)
memory usage: 1.4+ KB

In [665]:
#master_table = master_table.drop(columns=['Summer_Avg_Temp', 'Winter_Avg_Temp', 'Annual_Avg_Temp'])
#master_table
master_table = master_table.merge(
    temp_df[['City', 'Avg_Summer_Temp (°C)', 'Avg_Winter_Temp (°C)', 'Avg_Yearly_Temp (°C)']],
    on='City',
    how='left'
)

master_table.rename(columns={
    'Avg_Summer_Temp (°C)': 'Summer_Avg_Temp',
    'Avg_Winter_Temp (°C)': 'Winter_Avg_Temp',
    'Avg_Yearly_Temp (°C)': 'Annual_Avg_Temp'
}, inplace=True)

In [666]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,5.9,NaN,NaN,NaN,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,3.9,NaN,NaN,NaN,290.6,17.9,4.0,11.0
2,Kelowna,BC,251756,2902.45,86.74,NaN,2105.0,108.82,4.9,NaN,NaN,NaN,NaN,22.4,-2.0,9.3
3,Nanaimo,BC,128371,1279.28,100.35,NaN,2087.0,106.71,4.7,NaN,NaN,NaN,NaN,17.5,3.5,10.5
4,Kamloops,BC,128233,5654.08,22.68,NaN,1934.0,129.87,4.8,NaN,NaN,NaN,NaN,23.0,-4.0,9.5
5,Calgary,AB,1778881,5098.68,348.89,578900.0,1927.0,62.32,7.7,NaN,NaN,NaN,278.3,17.0,-7.0,5.0
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,1560.0,101.12,7.5,NaN,NaN,NaN,232.5,16.0,-10.0,3.0
7,Lethbridge,AB,139844,2958.96,47.26,NaN,1662.0,105.51,5.5,NaN,NaN,NaN,NaN,19.0,-6.0,6.5
8,Red Deer,AB,112759,104.34,1080.69,NaN,1486.0,118.65,8.3,NaN,NaN,NaN,NaN,16.5,-9.5,3.5
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,1490.0,106.71,5.1,NaN,NaN,NaN,310.4,17.0,-11.0,2.5
10,Regina,SK,282032,4323.66,65.23,316600.0,1542.0,100.31,6.3,NaN,NaN,NaN,298.4,16.5,-10.5,3.0
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,1528.0,124.41,5.5,NaN,NaN,NaN,299.0,16.0,-14.0,1.0
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.5,-13.5,2.0
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,-20.0,-2.5
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,2612.0,59.35,8.0,NaN,NaN,NaN,329.2,21.0,-4.0,8.5
16,Hamilton,ON,860266,1373.15,626.49,839300.0,2175.0,58.28,6.8,NaN,NaN,NaN,378.2,20.5,-3.5,8.5
17,London,ON,626260,2661.48,235.31,608500.0,1920.0,61.22,6.6,NaN,NaN,NaN,404.8,20.0,-4.5,7.8
18,Kitchener,ON,378867,136.86,2768.28,734500.0,NaN,NaN,7.2,NaN,NaN,NaN,373.0,19.5,-5.0,7.3
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,-5.5,6.8
20,Kingston,ON,192389,1919.17,100.25,557800.0,1930.0,59.26,6.3,NaN,NaN,NaN,272.9,18.5,-6.0,7.0
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,1498.0,107.70,4.3,NaN,NaN,NaN,NaN,16.0,-10.0,3.0
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,1047.0,61.20,NaN,NaN,NaN,NaN,NaN,18.0,-6.0,6.0
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,1028.0,53.90,5.0,NaN,NaN,NaN,NaN,17.5,-7.0,5.5
24,Halifax,NS,530167,7276.22,72.86,538600.0,2116.0,73.95,5.5,NaN,NaN,NaN,308.8,17.0,0.0,8.5
25,Fredericton,NB,122500,6014.66,20.37,310900.0,1448.0,73.61,5.8,NaN,NaN,NaN,258.5,18.0,-5.0,6.5
26,Moncton,NB,188036,2562.47,73.38,357800.0,1426.0,93.83,5.4,NaN,NaN,NaN,263.3,17.5,-4.5,6.0
27,Saint John,NB,142433,3505.66,40.63,311800.0,1366.0,58.40,6.3,NaN,NaN,NaN,257.7,17.0,-5.5,5.8
28,Charlottetown,PE,93877,1112.43,84.39,NaN,1380.0,NaN,NaN,NaN,NaN,NaN,NaN,16.5,-5.0,5.8
29,St. John's,NL,239316,931.56,256.90,NaN,1299.0,76.95,6.9,NaN,NaN,NaN,NaN,11.0,-1.5,4.0
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,-2.0,4.5
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.5,-3.5,4.0
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,-17.0,-1.0
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,-10.0,4.0
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,-4.0,7.5
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.5,-6.5,6.0
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,-5.0,7.5
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,-13.0,2.0
38,Barrie,ON,245586,897.26,273.71,790700.0,2004.0,48.10,6.1,NaN,NaN,NaN,382.5,19.0,-5.0,7.0
39,Québec City,QC,900343,3499.46,257.28,NaN,1219.0,NaN,NaN,NaN,NaN,NaN,NaN,17.0,-8.0,4.5
40,Montréal,QC,4615154,4670.10,988.23,NaN,1407.0,61.67,6.2,NaN,NaN,NaN,NaN,19.0,-6.0,7.0
41,Ottawa,ON,1660269,8046.99,206.32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Cost of Living

In [667]:
afford_df = pd.read_csv('data/cost_of_living.csv')

In [668]:
afford_df

,Rank,City,Cost of Living Index,Rent Index,Cost of Living Plus Rent Index,Groceries Index,Restaurant Price Index,Local Purchasing Power Index
0,1,Victoria,67.8,41.3,56.2,80.5,67.1,91.5
1,2,Toronto,66.8,43.5,56.6,71.1,70.7,109.2
2,3,Vancouver,66.4,49.5,59.0,75.0,67.6,103.7
3,4,Calgary,65.0,33.7,51.3,69.7,66.1,111.8
4,5,Saskatoon,64.9,25.1,47.5,70.8,74.7,100.9
5,6,Kelowna,63.6,34.4,50.8,71.4,65.1,102.5
6,7,Halifax,63.3,35.9,51.3,72.6,64.2,101.7
7,8,Regina,62.5,23.9,45.6,72.5,70.9,107.4
8,9,Ottawa,61.7,34.9,50.0,67.3,66.9,131.7
9,10,Montreal,61.6,29.0,47.3,68.8,66.8,118.8
10,11,Mississauga,61.4,42.0,53.0,61.4,64.7,112.3
11,12,Edmonton,61.0,29.0,47.1,68.3,62.9,112.2
12,13,Winnipeg,60.1,25.5,45.0,67.1,61.9,112.4
13,14,Quebec City,59.7,22.2,43.3,65.4,61.9,124.1
14,15,Windsor,58.4,31.2,46.5,62.0,60.2,115.1
15,16,London,56.3,36.8,47.8,58.1,66.8,109.8

In [669]:
afford_df = afford_df[['City', 'Cost of Living Index', 'Local Purchasing Power Index']]

In [671]:
afford_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   City                          16 non-null     object
 1   Cost of Living Index          16 non-null     float64
 2   Local Purchasing Power Index  16 non-null     float64
dtypes: float64(2), object(1)
memory usage: 516.0+ bytes

In [674]:
city_to_living = dict(zip(afford_df['City'], afford_df['Cost of Living Index']))
master_table['Cost_of_Living_Index'] = master_table['City'].map(city_to_living)
master_table.head()

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,5.9,NaN,66.4,NaN,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,3.9,NaN,67.8,NaN,290.6,17.9,4.0,11.0
2,Kelowna,BC,251756,2902.45,86.74,NaN,2105.0,108.82,4.9,NaN,63.6,NaN,NaN,22.4,-2.0,9.3
3,Nanaimo,BC,128371,1279.28,100.35,NaN,2087.0,106.71,4.7,NaN,NaN,NaN,NaN,17.5,3.5,10.5
4,Kamloops,BC,128233,5654.08,22.68,NaN,1934.0,129.87,4.8,NaN,NaN,NaN,NaN,23.0,-4.0,9.5

In [675]:
city_to_purchase = dict(zip(afford_df['City'], afford_df['Local Purchasing Power Index']))
master_table['Local_Purchasing_Power'] = master_table['City'].map(city_to_purchase)
master_table.head()

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,5.9,NaN,66.4,103.7,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,3.9,NaN,67.8,91.5,290.6,17.9,4.0,11.0
2,Kelowna,BC,251756,2902.45,86.74,NaN,2105.0,108.82,4.9,NaN,63.6,102.5,NaN,22.4,-2.0,9.3
3,Nanaimo,BC,128371,1279.28,100.35,NaN,2087.0,106.71,4.7,NaN,NaN,NaN,NaN,17.5,3.5,10.5
4,Kamloops,BC,128233,5654.08,22.68,NaN,1934.0,129.87,4.8,NaN,NaN,NaN,NaN,23.0,-4.0,9.5

## Average Income

In [676]:
income_df = pd.read_csv('data/average_income1.csv')

In [677]:
income_df.head()

        City Median Household Income (CAD)
0     Ottawa                        98,000
1    Toronto                        97,000
2  Vancouver                        90,000
3    Calgary                        96,000
4   Edmonton                        96,000

In [679]:
income_df['Median Household Income (CAD)'] = income_df['Median Household Income (CAD)'].str.replace(',', '')

In [680]:
income_df.head()

        City Median Household Income (CAD)
0     Ottawa                         98000
1    Toronto                         97000
2  Vancouver                         90000
3    Calgary                         96000
4   Edmonton                         96000

In [681]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   City                           43 non-null     object
 1   Median Household Income (CAD)  43 non-null     object
dtypes: object(2)
memory usage: 820.0+ bytes

In [685]:
income_df['Median Household Income (CAD)'] = income_df['Median Household Income (CAD)'].astype(int)

In [686]:
income_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   City                           43 non-null     object
 1   Median Household Income (CAD)  43 non-null     int64
dtypes: int64(1), object(1)
memory usage: 820.0+ bytes

In [687]:
income_df.head()

        City  Median Household Income (CAD)
0     Ottawa                          98000
1    Toronto                          97000
2  Vancouver                          90000
3    Calgary                          96000
4   Edmonton                          96000

In [693]:
city_to_income = dict(zip(income_df['City'], income_df['Median Household Income (CAD)']))
city_to_income
master_table['Average_Income'] = master_table['City'].map(city_to_income)

In [694]:
master_table.head()

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,5.9,90000.0,66.4,103.7,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,3.9,85000.0,67.8,91.5,290.6,17.9,4.0,11.0
2,Kelowna,BC,251756,2902.45,86.74,NaN,2105.0,108.82,4.9,85000.0,63.6,102.5,NaN,22.4,-2.0,9.3
3,Nanaimo,BC,128371,1279.28,100.35,NaN,2087.0,106.71,4.7,NaN,NaN,NaN,NaN,17.5,3.5,10.5
4,Kamloops,BC,128233,5654.08,22.68,NaN,1934.0,129.87,4.8,88000.0,NaN,NaN,NaN,23.0,-4.0,9.5

In [695]:
master_table2 = master_table.copy()

In [752]:
mask = master_table.notna().all(axis=1)

master_table_complete_rows = (master_table[mask])

city_table_df = pd.DataFrame(master_table_complete_rows)
city_table_df = city_table_df.reset_index()
city_table_df
city_table_df.drop(columns=['index'])

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,5.9,90000.0,66.4,103.7,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,3.9,85000.0,67.8,91.5,290.6,17.9,4.0,11.0
2,Calgary,AB,1778881,5098.68,348.89,578900.0,1927.0,62.32,7.7,96000.0,65.0,111.8,278.3,17.0,-7.0,5.0
3,Edmonton,AB,1631614,9416.19,173.28,392200.0,1560.0,101.12,7.5,96000.0,61.0,112.2,232.5,16.0,-10.0,3.0
4,Saskatoon,SK,367336,5864.48,62.64,397500.0,1490.0,106.71,5.1,89000.0,64.9,100.9,310.4,17.0,-11.0,2.5
5,Regina,SK,282032,4323.66,65.23,316600.0,1542.0,100.31,6.3,90000.0,62.5,107.4,298.4,16.5,-10.5,3.0
6,Winnipeg,MB,941641,5285.46,178.16,357300.0,1528.0,124.41,5.5,83000.0,60.1,112.4,299.0,16.0,-14.0,1.0
7,Toronto,ON,7106379,5902.75,1203.91,1038100.0,2612.0,59.35,8.0,97000.0,66.8,109.2,329.2,21.0,-4.0,8.5
8,London,ON,626260,2661.48,235.31,608500.0,1920.0,61.22,6.6,79500.0,56.3,109.8,404.8,20.0,-4.5,7.8
9,Halifax,NS,530167,7276.22,72.86,538600.0,2116.0,73.95,5.5,81000.0,63.3,101.7,308.8,17.0,0.0,8.5
10,Québec City,QC,900343,3499.46,257.28,480000.0,1219.0,53.20,5.5,76500.0,55.0,101.0,520000.0,17.0,-8.0,4.5
11,Montréal,QC,4615154,4670.10,988.23,495000.0,1407.0,61.67,6.2,76000.0,58.0,95.0,510000.0,19.0,-6.0,7.0
12,Ottawa,ON,1660269,8046.99,206.32,695209.0,2198.0,61.67,6.4,98000.0,61.7,131.7,633100.0,19.0,-6.0,7.0

In [709]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,5.9,90000.0,66.4,103.7,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,3.9,85000.0,67.8,91.5,290.6,17.9,4.0,11.0
2,Kelowna,BC,251756,2902.45,86.74,NaN,2105.0,108.82,4.9,85000.0,63.6,102.5,NaN,22.4,-2.0,9.3
3,Nanaimo,BC,128371,1279.28,100.35,NaN,2087.0,106.71,4.7,NaN,NaN,NaN,NaN,17.5,3.5,10.5
4,Kamloops,BC,128233,5654.08,22.68,NaN,1934.0,129.87,4.8,88000.0,NaN,NaN,NaN,23.0,-4.0,9.5
5,Calgary,AB,1778881,5098.68,348.89,578900.0,1927.0,62.32,7.7,96000.0,65.0,111.8,278.3,17.0,-7.0,5.0
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,1560.0,101.12,7.5,96000.0,61.0,112.2,232.5,16.0,-10.0,3.0
7,Lethbridge,AB,139844,2958.96,47.26,NaN,1662.0,105.51,5.5,84000.0,NaN,NaN,NaN,19.0,-6.0,6.5
8,Red Deer,AB,112759,104.34,1080.69,NaN,1486.0,118.65,8.3,91000.0,NaN,NaN,NaN,16.5,-9.5,3.5
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,1490.0,106.71,5.1,89000.0,64.9,100.9,310.4,17.0,-11.0,2.5
10,Regina,SK,282032,4323.66,65.23,316600.0,1542.0,100.31,6.3,90000.0,62.5,107.4,298.4,16.5,-10.5,3.0
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,1528.0,124.41,5.5,83000.0,60.1,112.4,299.0,16.0,-14.0,1.0
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,76000.0,NaN,NaN,NaN,16.5,-13.5,2.0
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,96000.0,NaN,NaN,NaN,15.0,-20.0,-2.5
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,2612.0,59.35,8.0,97000.0,66.8,109.2,329.2,21.0,-4.0,8.5
16,Hamilton,ON,860266,1373.15,626.49,839300.0,2175.0,58.28,6.8,86000.0,NaN,NaN,378.2,20.5,-3.5,8.5
17,London,ON,626260,2661.48,235.31,608500.0,1920.0,61.22,6.6,79500.0,56.3,109.8,404.8,20.0,-4.5,7.8
18,Kitchener,ON,378867,136.86,2768.28,734500.0,NaN,NaN,7.2,83000.0,NaN,NaN,373.0,19.5,-5.0,7.3
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,83000.0,NaN,NaN,NaN,19.0,-5.5,6.8
20,Kingston,ON,192389,1919.17,100.25,557800.0,1930.0,59.26,6.3,83000.0,NaN,NaN,272.9,18.5,-6.0,7.0
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,1498.0,107.70,4.3,80000.0,NaN,NaN,NaN,16.0,-10.0,3.0
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,1047.0,61.20,NaN,62400.0,NaN,NaN,NaN,18.0,-6.0,6.0
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,1028.0,53.90,5.0,65000.0,NaN,NaN,NaN,17.5,-7.0,5.5
24,Halifax,NS,530167,7276.22,72.86,538600.0,2116.0,73.95,5.5,81000.0,63.3,101.7,308.8,17.0,0.0,8.5
25,Fredericton,NB,122500,6014.66,20.37,310900.0,1448.0,73.61,5.8,79000.0,NaN,NaN,258.5,18.0,-5.0,6.5
26,Moncton,NB,188036,2562.47,73.38,357800.0,1426.0,93.83,5.4,74500.0,NaN,NaN,263.3,17.5,-4.5,6.0
27,Saint John,NB,142433,3505.66,40.63,311800.0,1366.0,58.40,6.3,74000.0,NaN,NaN,257.7,17.0,-5.5,5.8
28,Charlottetown,PE,93877,1112.43,84.39,NaN,1380.0,NaN,NaN,65000.0,NaN,NaN,NaN,16.5,-5.0,5.8
29,St. John's,NL,239316,931.56,256.90,NaN,1299.0,76.95,6.9,85000.0,NaN,NaN,NaN,11.0,-1.5,4.0
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,70000.0,NaN,NaN,NaN,12.0,-2.0,4.5
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,60000.0,NaN,NaN,NaN,11.5,-3.5,4.0
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,15.0,-17.0,-1.0
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,95000.0,NaN,NaN,NaN,18.0,-10.0,4.0
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,78000.0,NaN,NaN,NaN,20.0,-4.0,7.5
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,85000.0,NaN,NaN,NaN,18.5,-6.5,6.0
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,70000.0,NaN,NaN,NaN,20.0,-5.0,7.5
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,72000.0,NaN,NaN,NaN,17.0,-13.0,2.0
38,Barrie,ON,245586,897.26,273.71,790700.0,2004.0,48.10,6.1,90000.0,NaN,NaN,382.5,19.0,-5.0,7.0
39,Québec City,QC,900343,3499.46,257.28,NaN,1219.0,NaN,NaN,76500.0,NaN,NaN,NaN,17.0,-8.0,4.5
40,Montréal,QC,4615154,4670.10,988.23,NaN,1407.0,61.67,6.2,76000.0,NaN,NaN,NaN,19.0,-6.0,7.0
41,Ottawa,ON,1660269,8046.99,206.32,NaN,NaN,NaN,NaN,98000.0,61.7,131.7,NaN,NaN,NaN,NaN

In [735]:
columns_to_check = [col for col in master_table.columns if col not in ['Cost_of_Living_Index', 'Local_Purchasing_Power']]

mask = master_table[columns_to_check].notna().all(axis=1)

master_table_complete_rows = master_table[mask]

display(master_table_complete_rows)

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,5.9,90000.0,66.4,103.7,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,3.9,85000.0,67.8,91.5,290.6,17.9,4.0,11.0
5,Calgary,AB,1778881,5098.68,348.89,578900.0,1927.0,62.32,7.7,96000.0,65.0,111.8,278.3,17.0,-7.0,5.0
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,1560.0,101.12,7.5,96000.0,61.0,112.2,232.5,16.0,-10.0,3.0
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,1490.0,106.71,5.1,89000.0,64.9,100.9,310.4,17.0,-11.0,2.5
10,Regina,SK,282032,4323.66,65.23,316600.0,1542.0,100.31,6.3,90000.0,62.5,107.4,298.4,16.5,-10.5,3.0
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,1528.0,124.41,5.5,83000.0,60.1,112.4,299.0,16.0,-14.0,1.0
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,2612.0,59.35,8.0,97000.0,66.8,109.2,329.2,21.0,-4.0,8.5
16,Hamilton,ON,860266,1373.15,626.49,839300.0,2175.0,58.28,6.8,86000.0,NaN,NaN,378.2,20.5,-3.5,8.5
17,London,ON,626260,2661.48,235.31,608500.0,1920.0,61.22,6.6,79500.0,56.3,109.8,404.8,20.0,-4.5,7.8
20,Kingston,ON,192389,1919.17,100.25,557800.0,1930.0,59.26,6.3,83000.0,NaN,NaN,272.9,18.5,-6.0,7.0
24,Halifax,NS,530167,7276.22,72.86,538600.0,2116.0,73.95,5.5,81000.0,63.3,101.7,308.8,17.0,0.0,8.5
25,Fredericton,NB,122500,6014.66,20.37,310900.0,1448.0,73.61,5.8,79000.0,NaN,NaN,258.5,18.0,-5.0,6.5
26,Moncton,NB,188036,2562.47,73.38,357800.0,1426.0,93.83,5.4,74500.0,NaN,NaN,263.3,17.5,-4.5,6.0
27,Saint John,NB,142433,3505.66,40.63,311800.0,1366.0,58.40,6.3,74000.0,NaN,NaN,257.7,17.0,-5.5,5.8
38,Barrie,ON,245586,897.26,273.71,790700.0,2004.0,48.10,6.1,90000.0,NaN,NaN,382.5,19.0,-5.0,7.0
39,Québec City,QC,900343,3499.46,257.28,480000.0,1219.0,53.20,5.5,76500.0,55.0,101.0,520000.0,17.0,-8.0,4.5
40,Montréal,QC,4615154,4670.10,988.23,495000.0,1407.0,61.67,6.2,76000.0,58.0,95.0,510000.0,19.0,-6.0,7.0
41,Ottawa,ON,1660269,8046.99,206.32,695209.0,2198.0,61.67,6.4,98000.0,61.7,131.7,633100.0,19.0,-6.0,7.0

In [719]:
missing_cities_data = {
    'City': ['Québec City', 'Montréal', 'Ottawa'],
    'Province/Territory': ['QC', 'QC', 'ON'],
    'Population': [900343, 4615154, 1017449],
    'Land_Area': [3499.46, 4670.10, 2790.31],
    'Population_Density': [257.28, 988.23, 364.9],
    'House_Price': [480000, 495000, 695209],
    'Rent_Price': [1219.0, 1407.0, 2198],
    'Crime_Severity_Index': [53.2, 61.67, 61.67],
    'Unemployment_Rate': [5.5, 6.2, 6.4],
    'Average_Income': [76500, 76000, 64995],
    'Cost_of_Living_Index': [55.0, 58.0, 59.7],
    'Local_Purchasing_Power': [101.0, 95.0, 127.8],
    'Composite_HPI': [520000, 510000, 633100],
    'Summer_Avg_Temp': [17.0, 19.0, 19.0],
    'Winter_Avg_Temp': [-8.0, -6.0, -6.0],
    'Annual_Avg_Temp': [4.5, 7.0, 7.0]
}

df_cities_2024 = pd.DataFrame(missing_cities_data).set_index('City')
df_cities_2024
for city in df_cities_2024.index:
    for col in df_cities_2024.columns:
        master_table.loc[master_table['City'] == city, col] = master_table.loc[master_table['City'] == city, col].fillna(df_cities_2024.loc[city, col])

print(master_table.loc[master_table['City'].isin(['Québec City', 'Montréal', 'Ottawa'])])

           City Province/Territory  Population  Land_Area  Population_Density  \
39  Québec City                 QC      900343    3499.46              257.28
40     Montréal                 QC     4615154    4670.10              988.23
41       Ottawa                 ON     1660269    8046.99              206.32

    House_Price  Rent_Price  Crime_Severity_Index  Unemployment_Rate  \
39     480000.0      1219.0                 53.20                5.5
40     495000.0      1407.0                 61.67                6.2
41     695209.0      2198.0                 61.67                6.4

    Average_Income  Cost_of_Living_Index  Local_Purchasing_Power  \
39         76500.0                  55.0                   101.0
40         76000.0                  58.0                    95.0
41         98000.0                  61.7                   131.7

    Composite_HPI  Summer_Avg_Temp  Winter_Avg_Temp  Annual_Avg_Temp
39       520000.0             17.0             -8.0              4.5
40       510000.0             19.0             -6.0              7.0
41       633100.0             19.0             -6.0              7.0

In [720]:
master_table

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200.0,2883.0,81.20,5.9,90000.0,66.4,103.7,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300.0,2474.0,71.04,3.9,85000.0,67.8,91.5,290.6,17.9,4.0,11.0
2,Kelowna,BC,251756,2902.45,86.74,NaN,2105.0,108.82,4.9,85000.0,63.6,102.5,NaN,22.4,-2.0,9.3
3,Nanaimo,BC,128371,1279.28,100.35,NaN,2087.0,106.71,4.7,NaN,NaN,NaN,NaN,17.5,3.5,10.5
4,Kamloops,BC,128233,5654.08,22.68,NaN,1934.0,129.87,4.8,88000.0,NaN,NaN,NaN,23.0,-4.0,9.5
5,Calgary,AB,1778881,5098.68,348.89,578900.0,1927.0,62.32,7.7,96000.0,65.0,111.8,278.3,17.0,-7.0,5.0
6,Edmonton,AB,1631614,9416.19,173.28,392200.0,1560.0,101.12,7.5,96000.0,61.0,112.2,232.5,16.0,-10.0,3.0
7,Lethbridge,AB,139844,2958.96,47.26,NaN,1662.0,105.51,5.5,84000.0,NaN,NaN,NaN,19.0,-6.0,6.5
8,Red Deer,AB,112759,104.34,1080.69,NaN,1486.0,118.65,8.3,91000.0,NaN,NaN,NaN,16.5,-9.5,3.5
9,Saskatoon,SK,367336,5864.48,62.64,397500.0,1490.0,106.71,5.1,89000.0,64.9,100.9,310.4,17.0,-11.0,2.5
10,Regina,SK,282032,4323.66,65.23,316600.0,1542.0,100.31,6.3,90000.0,62.5,107.4,298.4,16.5,-10.5,3.0
11,Prince Albert,SK,47929,2537.68,18.89,NaN,NaN,NaN,NaN,74500.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Winnipeg,MB,941641,5285.46,178.16,357300.0,1528.0,124.41,5.5,83000.0,60.1,112.4,299.0,16.0,-14.0,1.0
13,Brandon,MB,61863,1232.81,50.18,NaN,NaN,NaN,NaN,76000.0,NaN,NaN,NaN,16.5,-13.5,2.0
14,Thompson,MB,13159,16.62,791.76,NaN,NaN,NaN,NaN,96000.0,NaN,NaN,NaN,15.0,-20.0,-2.5
15,Toronto,ON,7106379,5902.75,1203.91,1038100.0,2612.0,59.35,8.0,97000.0,66.8,109.2,329.2,21.0,-4.0,8.5
16,Hamilton,ON,860266,1373.15,626.49,839300.0,2175.0,58.28,6.8,86000.0,NaN,NaN,378.2,20.5,-3.5,8.5
17,London,ON,626260,2661.48,235.31,608500.0,1920.0,61.22,6.6,79500.0,56.3,109.8,404.8,20.0,-4.5,7.8
18,Kitchener,ON,378867,136.86,2768.28,734500.0,NaN,NaN,7.2,83000.0,NaN,NaN,373.0,19.5,-5.0,7.3
19,Waterloo,ON,155550,64.06,2428.19,NaN,NaN,NaN,NaN,83000.0,NaN,NaN,NaN,19.0,-5.5,6.8
20,Kingston,ON,192389,1919.17,100.25,557800.0,1930.0,59.26,6.3,83000.0,NaN,NaN,272.9,18.5,-6.0,7.0
21,Thunder Bay,ON,133063,2550.79,52.17,NaN,1498.0,107.70,4.3,80000.0,NaN,NaN,NaN,16.0,-10.0,3.0
22,Trois-Rivières,QC,173288,1038.64,166.84,NaN,1047.0,61.20,NaN,62400.0,NaN,NaN,NaN,18.0,-6.0,6.0
23,Sherbrooke,QC,243517,1458.10,167.01,NaN,1028.0,53.90,5.0,65000.0,NaN,NaN,NaN,17.5,-7.0,5.5
24,Halifax,NS,530167,7276.22,72.86,538600.0,2116.0,73.95,5.5,81000.0,63.3,101.7,308.8,17.0,0.0,8.5
25,Fredericton,NB,122500,6014.66,20.37,310900.0,1448.0,73.61,5.8,79000.0,NaN,NaN,258.5,18.0,-5.0,6.5
26,Moncton,NB,188036,2562.47,73.38,357800.0,1426.0,93.83,5.4,74500.0,NaN,NaN,263.3,17.5,-4.5,6.0
27,Saint John,NB,142433,3505.66,40.63,311800.0,1366.0,58.40,6.3,74000.0,NaN,NaN,257.7,17.0,-5.5,5.8
28,Charlottetown,PE,93877,1112.43,84.39,NaN,1380.0,NaN,NaN,65000.0,NaN,NaN,NaN,16.5,-5.0,5.8
29,St. John's,NL,239316,931.56,256.90,NaN,1299.0,76.95,6.9,85000.0,NaN,NaN,NaN,11.0,-1.5,4.0
30,Corner Brook,NL,31204,1122.58,27.80,NaN,NaN,NaN,NaN,70000.0,NaN,NaN,NaN,12.0,-2.0,4.5
31,Gander,NL,14296,2412.67,5.93,NaN,NaN,NaN,NaN,60000.0,NaN,NaN,NaN,11.5,-3.5,4.0
32,Yellowknife,NWT,22735,103.37,219.94,NaN,NaN,NaN,NaN,100000.0,NaN,NaN,NaN,15.0,-17.0,-1.0
33,Whitehorse,YT,38000,8465.21,4.49,NaN,NaN,NaN,NaN,95000.0,NaN,NaN,NaN,18.0,-10.0,4.0
34,Sarnia,ON,108636,1117.20,97.24,NaN,NaN,NaN,NaN,78000.0,NaN,NaN,NaN,20.0,-4.0,7.5
35,Prince George,BC,98808,17650.99,5.60,NaN,NaN,NaN,NaN,85000.0,NaN,NaN,NaN,18.5,-6.5,6.0
36,Brooks,AB,16416,18.21,901.48,NaN,NaN,NaN,NaN,70000.0,NaN,NaN,NaN,20.0,-5.0,7.5
37,Steinbach,MB,19926,37.56,530.51,NaN,NaN,NaN,NaN,72000.0,NaN,NaN,NaN,17.0,-13.0,2.0
38,Barrie,ON,245586,897.26,273.71,790700.0,2004.0,48.10,6.1,90000.0,NaN,NaN,382.5,19.0,-5.0,7.0
39,Québec City,QC,900343,3499.46,257.28,480000.0,1219.0,53.20,5.5,76500.0,55.0,101.0,520000.0,17.0,-8.0,4.5
40,Montréal,QC,4615154,4670.10,988.23,495000.0,1407.0,61.67,6.2,76000.0,58.0,95.0,510000.0,19.0,-6.0,7.0
41,Ottawa,ON,1660269,8046.99,206.32,695209.0,2198.0,61.67,6.4,98000.0,61.7,131.7,633100.0,19.0,-6.0,7.0

In [726]:
master_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   City                    42 non-null     object
 1   Province/Territory      42 non-null     object
 2   Population              42 non-null     int64
 3   Land_Area               42 non-null     float64
 4   Population_Density      42 non-null     float64
 5   House_Price             20 non-null     float64
 6   Rent_Price              29 non-null     float64
 7   Crime_Severity_Index    28 non-null     float64
 8   Unemployment_Rate       28 non-null     float64
 9   Average_Income          41 non-null     float64
 10  Cost_of_Living_Index    14 non-null     float64
 11  Local_Purchasing_Power  14 non-null     float64
 12  Composite_HPI           20 non-null     float64
 13  Summer_Avg_Temp         41 non-null     float64
 14  Winter_Avg_Temp         41 non-null     float64
 15  Annual_Avg_Temp         41 non-null     float64
dtypes: float64(13), int64(1), object(2)
memory usage: 5.4+ KB

In [734]:
master_table.to_csv('data/master_table.csv', index=False)

In [753]:
city_table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   13 non-null     int64
 1   City                    13 non-null     object
 2   Province/Territory      13 non-null     object
 3   Population              13 non-null     int64
 4   Land_Area               13 non-null     float64
 5   Population_Density      13 non-null     float64
 6   House_Price             13 non-null     float64
 7   Rent_Price              13 non-null     float64
 8   Crime_Severity_Index    13 non-null     float64
 9   Unemployment_Rate       13 non-null     float64
 10  Average_Income          13 non-null     float64
 11  Cost_of_Living_Index    13 non-null     float64
 12  Local_Purchasing_Power  13 non-null     float64
 13  Composite_HPI           13 non-null     float64
 14  Summer_Avg_Temp         13 non-null     float64
 15  Winter_Avg_Temp         13 non-null     float64
 16  Annual_Avg_Temp         13 non-null     float64
dtypes: float64(13), int64(2), object(2)
memory usage: 1.9+ KB

In [756]:
city_table_df[['House_Price', 'Rent_Price', 'Average_Income']] = city_table_df[['House_Price', 'Rent_Price', 'Average_Income']].astype(int)

In [757]:
city_table_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   index                   13 non-null     int64
 1   City                    13 non-null     object
 2   Province/Territory      13 non-null     object
 3   Population              13 non-null     int64
 4   Land_Area               13 non-null     float64
 5   Population_Density      13 non-null     float64
 6   House_Price             13 non-null     int64
 7   Rent_Price              13 non-null     int64
 8   Crime_Severity_Index    13 non-null     float64
 9   Unemployment_Rate       13 non-null     float64
 10  Average_Income          13 non-null     int64
 11  Cost_of_Living_Index    13 non-null     float64
 12  Local_Purchasing_Power  13 non-null     float64
 13  Composite_HPI           13 non-null     float64
 14  Summer_Avg_Temp         13 non-null     float64
 15  Winter_Avg_Temp         13 non-null     float64
 16  Annual_Avg_Temp         13 non-null     float64
dtypes: float64(10), int64(5), object(2)
memory usage: 1.9+ KB

In [759]:
city_table_df = city_table_df.drop(columns=['index'])

In [760]:
city_table_df

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200,2883,81.20,5.9,90000,66.4,103.7,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300,2474,71.04,3.9,85000,67.8,91.5,290.6,17.9,4.0,11.0
2,Calgary,AB,1778881,5098.68,348.89,578900,1927,62.32,7.7,96000,65.0,111.8,278.3,17.0,-7.0,5.0
3,Edmonton,AB,1631614,9416.19,173.28,392200,1560,101.12,7.5,96000,61.0,112.2,232.5,16.0,-10.0,3.0
4,Saskatoon,SK,367336,5864.48,62.64,397500,1490,106.71,5.1,89000,64.9,100.9,310.4,17.0,-11.0,2.5
5,Regina,SK,282032,4323.66,65.23,316600,1542,100.31,6.3,90000,62.5,107.4,298.4,16.5,-10.5,3.0
6,Winnipeg,MB,941641,5285.46,178.16,357300,1528,124.41,5.5,83000,60.1,112.4,299.0,16.0,-14.0,1.0
7,Toronto,ON,7106379,5902.75,1203.91,1038100,2612,59.35,8.0,97000,66.8,109.2,329.2,21.0,-4.0,8.5
8,London,ON,626260,2661.48,235.31,608500,1920,61.22,6.6,79500,56.3,109.8,404.8,20.0,-4.5,7.8
9,Halifax,NS,530167,7276.22,72.86,538600,2116,73.95,5.5,81000,63.3,101.7,308.8,17.0,0.0,8.5
10,Québec City,QC,900343,3499.46,257.28,480000,1219,53.20,5.5,76500,55.0,101.0,520000.0,17.0,-8.0,4.5
11,Montréal,QC,4615154,4670.10,988.23,495000,1407,61.67,6.2,76000,58.0,95.0,510000.0,19.0,-6.0,7.0
12,Ottawa,ON,1660269,8046.99,206.32,695209,2198,61.67,6.4,98000,61.7,131.7,633100.0,19.0,-6.0,7.0

In [761]:
city_table_df.loc[city_table_df['City'] == 'Québec City', 'Composite_HPI']= 281.1
city_table_df.loc[city_table_df['City'] == 'Montréal', 'Composite_HPI']= 284.3
city_table_df.loc[city_table_df['City'] == 'Ottawa', 'Composite_HPI']= 282.8

In [762]:
city_table_df

,City,Province/Territory,Population,Land_Area,Population_Density,House_Price,Rent_Price,Crime_Severity_Index,Unemployment_Rate,Average_Income,Cost_of_Living_Index,Local_Purchasing_Power,Composite_HPI,Summer_Avg_Temp,Winter_Avg_Temp,Annual_Avg_Temp
0,Vancouver,BC,3108941,2878.93,1079.89,1191200,2883,81.20,5.9,90000,66.4,103.7,338.8,18.2,3.2,10.7
1,Victoria,BC,441491,695.29,634.97,866300,2474,71.04,3.9,85000,67.8,91.5,290.6,17.9,4.0,11.0
2,Calgary,AB,1778881,5098.68,348.89,578900,1927,62.32,7.7,96000,65.0,111.8,278.3,17.0,-7.0,5.0
3,Edmonton,AB,1631614,9416.19,173.28,392200,1560,101.12,7.5,96000,61.0,112.2,232.5,16.0,-10.0,3.0
4,Saskatoon,SK,367336,5864.48,62.64,397500,1490,106.71,5.1,89000,64.9,100.9,310.4,17.0,-11.0,2.5
5,Regina,SK,282032,4323.66,65.23,316600,1542,100.31,6.3,90000,62.5,107.4,298.4,16.5,-10.5,3.0
6,Winnipeg,MB,941641,5285.46,178.16,357300,1528,124.41,5.5,83000,60.1,112.4,299.0,16.0,-14.0,1.0
7,Toronto,ON,7106379,5902.75,1203.91,1038100,2612,59.35,8.0,97000,66.8,109.2,329.2,21.0,-4.0,8.5
8,London,ON,626260,2661.48,235.31,608500,1920,61.22,6.6,79500,56.3,109.8,404.8,20.0,-4.5,7.8
9,Halifax,NS,530167,7276.22,72.86,538600,2116,73.95,5.5,81000,63.3,101.7,308.8,17.0,0.0,8.5
10,Québec City,QC,900343,3499.46,257.28,480000,1219,53.20,5.5,76500,55.0,101.0,281.1,17.0,-8.0,4.5
11,Montréal,QC,4615154,4670.10,988.23,495000,1407,61.67,6.2,76000,58.0,95.0,284.3,19.0,-6.0,7.0
12,Ottawa,ON,1660269,8046.99,206.32,695209,2198,61.67,6.4,98000,61.7,131.7,282.8,19.0,-6.0,7.0

In [765]:
city_table_df.to_csv('data/city_table.csv', index = False)

### A cleaned data table is ready for analysis